//
// Content
// ~ WYSIWYG content
//

.content {

  &.clamp-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  &.has-padding {
    padding: 2em 1.25em;

    @include breakpoint('medium-tablet') { padding: 2.5em; }
    @include breakpoint('small-display') { padding: 3.5em; }
    @include breakpoint('medium-display') { padding: 5em; }
    @include breakpoint('large-display') { padding: 7em; }
  }

  &.has-condensed-padding {
    padding: 1em;

    @include breakpoint('medium-tablet') { padding: 1.5em; }
    @include breakpoint('small-display') { padding: 2em; }
    @include breakpoint('medium-display') { padding: 2.5em; }
  }

  // headings
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: $heading-line-height;

    &:last-child { margin-bottom: 0; }
  }

  h1, h2,
  .h1, .h2 {
    font-size: 2.25em;
    font-family: $serif;
    color: $dark-navy-color;
  }

  h1, .h1 { margin-bottom: .35em; }

  h3, .h3 {
    font-size: 2em;
    font-family: $serif;
    color: $dark-navy-color
  }

  h4, h5, h6,
  .h4, .h5, .h6 {
    font-weight: normal;
    line-height: $body-line-height;
  }

  h4, .h4 {
    font-size: 1.125em;
    color: $slightly-light-grey-color;
  }

  h5, h6,
  .h5, .h6 {
    margin-bottom: 1em;
    font-size: .813em;
    text-transform: uppercase;
    color: $slightly-light-grey-color;
  }

  h5, .h5 { letter-spacing: .4em; }

  h6, .h6 { letter-spacing: .2em; }

  // body text
  p {
    font-size: 1em;
    color: $slightly-light-grey-color;

    // ~ inline links
    a:not(.button) {
      display: inline-block;
      border-bottom: 1px solid transparent;
      color: $light-blue-color;
      transition: border-color .15s linear, color .15s linear, opacity .15s linear;

      &:hover {
        border-color: lighten($light-blue-color, 5%);
        color: lighten($light-blue-color, 5%);
      }
    }
  }

  // lists
  ul,
  ol {
    margin: 2.5em 0 2.5em 2.5em;

    li {
      margin-bottom: 1em;
      font-size: 1em;
      color: $slightly-light-grey-color;
    }
  }

  // bulleted lists
  ul {
    list-style: disc outside;
  
    &.no-bullets {
      margin-left: 0;
      list-style: none;
    }
  }

  // numbered lists
  ol { list-style: decimal outside; }

  // addresses
  address {
    font-size: 1.25em;
    font-family: $serif;
    color: $slightly-light-grey-color;
  }

  // quotes
  blockquote {
    p {
      font-weight: 400;
      font-size: 1.125em;
      line-height: 1.4; // $
      font-family: $serif;
    }

    //
    cite {
      font-style: normal;

      p {
        font-family: $sans-serif;
        font-size: 1rem;
      }
    }
  }

  // NOTE WordPress marks up captioned images using the <figure> tag
  figure { margin: 0; }

  // media captions
  .wp-caption-text {
    display: block;
    margin-bottom: 2em;
    text-align: center;
    font-size: .875em;
    color: $slightly-light-grey-color;
  }

  // NOTE classing <video> elements with .video to ensure responsive-fit
  .video {
    max-width: 100%;
    height: auto;
  }

  //
  // Theming
  //

  // White
  &.theme-white {
    &,
    * { color: white; }


    h4, h5, h6,
    .h4, .h5, .h6 { color: rgba(white, .65); }

    p {
      color: rgba(white, .65);

      // inline links
      a:not(.button) {
        color: white;
      
        &:hover,
        &:active {
          border-color: white;
          color: white;
        }
      }
    }
    

    // lists
    ul,
    ol {

      a {
        opacity: .65;
      
        &:hover { opacity: 1; }
      }
    }

    blockquote {
      p { color: white; }
    }
  }

  //
  &.theme-dark-navy,
  &.theme-dark-blue,
  &.theme-blue-grey,
  &.theme-dark-grey {

    &,
    * { color: white; }

    // blended body text
    p {
      color: rgba(white, .65);

      // highlight inline links
      a:not(.button) {
        color: white;
      
        &:hover,
        &:active {
          border-color: white;
          color: white;
        }
      }
    }

    // lists
    ul,
    ol {
      a {
        opacity: .4;
      
        &:hover { opacity: 1; }
      }
    }

    blockquote {
      p { color: white; }
    }
  }

  &.theme-dark-navy { background-color: $dark-navy-color; }
  &.theme-dark-blue { background-color: $dark-blue-color; }
  &.theme-blue-grey { background-color: $blue-grey-color; }
  &.theme-dark-grey { background-color: $dark-grey-color; }
  &.theme-extra-light-grey { background-color: $extra-light-grey-color; }


  @include breakpoint('medium-tablet') {

    // responsive typography

    h1, .h1 { font-size: 4.75em; }
    h2, .h2 { font-size: 2.5em; }
    h3, .h3 { font-size: 2em; }
    h4, .h4 { font-size: 1.25em; }
    h5, .h5,
    h6, .h6 { font-size: .813em; }

    p { font-size: 1.1875em; }
    li { font-size: 1.1875rem; }
  }

  @include breakpoint('small-display') {
    
    // minor adjustments to responsive typography

    blockquote {
      p { font-size: 1.75em;}

      cite {
        p { font-size: 1.125rem; }
      }
    }
  }
}