//
// Content
// ~ WYSIWYG content
//

.content {

  // TODO HTML5 complete

  // Headings
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: .5em;
    line-height: $heading-line-height;

    &:last-child { margin-bottom: 0; }
  }

  .h1 {
    margin-bottom: .35em;
    font-size: 4.75em; // ~ 76px
    font-family: $serif;
    color: $dark-navy-color;
  }

  .h2 {
    font-size: 2.5em; // ~ 40px
    font-family: $serif;
    color: $dark-navy-color;
  }

  .h3 {
    font-size: 2em; // ~ px
    font-family: $serif;
    color: $dark-navy-color
  }

  .h4 {
    font-size: 1.75em; // ~ 28px
    color: $slightly-light-grey-color;
  }

  .h5,
  .h6 {
    margin-bottom: 1.125em;
    font-size: .813em;  
    text-transform: uppercase;
    color: $slightly-light-grey-color;
  }

  .h5 {
    font-size: .813em; // ~ 13px
    letter-spacing: .4em;
  }

  .h6 {
    font-size: .625em; // ~ 10px
    letter-spacing: .2em;
  }

  // Body copy
  p {
    font-size: 1.1875em; // ~ 19px
    color: $slightly-light-grey-color;
  }

  // Links
  a:not(.button) {
    display: inline-block;
    //padding-bottom: .1em;
    border-bottom: 1px solid transparent;
    color: $blue-color;
    transition: border-color .15s linear, color .15s linear, opacity .15s linear;

    &:hover {
      border-color: lighten($blue-color, 5%);
      color: lighten($blue-color, 5%);
    }

    &:active {
      border-color: $blue-color;
      color: $blue-color;
    }
  }

  // Lists
  ul, ol {}

  .list,
  .horizontal-list {
    .list-item {
      // ~ t
      text-transform: uppercase;
      letter-spacing: .2em;
    }
  }

  .list {
    .list-item { font-size: .75em; } // ~ 12px
  }

  .horizontal-list {
    .list-item { font-size: .625em; } // ~ px
  }

  //
  // .quote {}
  blockquote {
    p {
      font-weight: 400;
      font-size: 1.875em; // ~ 30px
      line-height: 1.4; // $
      font-family: $serif;
    }

    cite {
      font-style: normal;

      p {
        font-family: $sans-serif;
        font-size: 1.1875rem; // ~ 19px
      }
    }
  }

  //
  // Themes
  //

  // White
  &.theme-white {
    &,
    * { color: white; }

    // Links
    a:not(.button) {
      color: white;
    
      &:hover,
      &:active {
        border-color: white;
        color: white;
      }
    }

    // lists
    .horizontal-list {
      a {
        opacity: .65;
      
        &:hover { opacity: 1; }
      }
    }
  }

  // Navy
  &.theme-dark-navy {
    background-color: $dark-navy-color;

    &,
    * { color: white; }

    // Links
    a:not(.button) {
      color: white;
    
      &:hover,
      &:active {
        border-color: white;
        color: white;
      }
    }

    // lists
    .list {
      a {
        opacity: .4;
      
        &:hover { opacity: 1; }
      }
    }
  }
}