//
// Page content
//

.page-content {

  // Headings
  .h1, .h2, .h3, .h4, .h5, .h6,
  h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
    color: $dark-grey-color;
  }

  h1, .h1 { font-size: 2em; }
  h2, .h2 { font-size: 1.75em; }
  h3, .h3 { font-size: 1.5em; }

  // :P
  h3 {
    span[style="font-weight: 400;"] { font-weight: bold !important; }
  }
  
  h4, .h4,
  h5, .h5,
  h6, .h6 { font-size: 1.25em; }

  // Body copy
  p {
    margin-bottom: 2em;
    font-size: 1.125em; // ~ 18px
    line-height: 2;
    color: #6f6f6f; // $

    &:last-child { margin-bottom: 0; }
  }


  // Lists
  ul, ol {
    margin-bottom: 2.5em;
    margin-left: 2.5em;

    li {
      margin-bottom: 1em;
      font-size: 1.125rem; // ~ 18px
      color: $dark-grey-color;
    }
  }

  ul {
    li { list-style-type: disc; }
  }

  ol {
    li { list-style-type: decimal; }
  }

  // Tables
  table {
    background-color: $extra-light-grey-color;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      background-color: $lighter-grey-color;
      color: $grey-color;
    }

    th,
    td {
      border: 1px solid $lighter-grey-color;
      font-size: 1em;
      color: $grey-color;
    }
  }

  // Blockquotes
  blockquote {
    margin: 0 auto 2.5em;
    max-width: 80%;
    text-align: center;

    p {
      font-weight: bold;
      font-size: 1.125rem; // ~ 18px
      line-height: $body-line-height;
      font-family: $serif;
    }
  }

  // Code blocks
  pre {
    background-color: $extra-light-grey-color;
    border: 1px solid $lighter-grey-color;

    code {
      font-size: 1em; // ~ 14px
      color: $grey-color;
    }
  }
}