//
// Post Author Info
//

.post-author-info {

  h3, .h3 {
    margin-bottom: 1em;
    font-size: 1.25em;
  }

  .author-name,
  .author-description {
    font-size: .75em;
    line-height: $heading-line-height;
  }

  .author-name {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}