//
// Sidebar content
//

.sidebar-content {

  .sidebar-section {
    margin-bottom: 1.5em;
  
    &:last-of-type { margin-bottom: 0; }
  }

  h3, .h3 {
    margin-bottom: 1em;
    font-size: 1.25em;
  }

  p, li {
    font-size: .75em !important;
    line-height: 1.4;
  }

  .author-name {
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  ul { margin: 1em 0 1em 1em; }

  @include breakpoint('small-display') {
    
    .sidebar-section { margin-bottom: 3em; }
  }

  @include breakpoint('large-display') {

    h3, .h3 { font-size: 2em; }

    p, li { font-size: 1em !important; }
  }
}