//
// Connecting line detail
//

// see also .connected-line-detail

.connecting-line-detail {
  // position

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    width: 1px;
    height: 100vh; // ?
    background-color: $light-grey-color;
    transform: translateX(-50%);
  }
}