//
// Connected line detail
//

// see also .connecting-line-detail

.connected-line-detail {
  position: relative;
  margin-top: 3rem;
  padding-top: 3rem;

  // ~ circle
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid $light-grey-color;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  // ~ line
  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    width: 1px;
    height: 100vh; // ?
    background-color: $light-grey-color;
    transform: translateX(-50%);
  }
}