
/*---------Common Elements---------------*/
* { box-sizing: border-box;}

div {outline: 0px solid cyan;}


body {margin: 0px;}

.dbfl {
    display: block;
    float: left;
    width: 100%;
}

.difl {
    display: inline-block;
    float: left;
}

.difr {
    display: inline-block;
    float: right;
}


/*------------- rmagic Grid Elements --------------*/

.rm-form-configuration-wrapper {
    font-family:Roboto,helvetica,sans-serif;
    display:block;
    float:left;
    width:97%;
    margin:0% 1.5%;
    color:#6a7877;
    font-size:14px; 
    position: relative;
    background-color: transparent;

}

.rm-grid {
   width: 60%;
    background-color: #fffffe;
}

.rm-grid-top {
    padding: 25px 0px;
}

span.rm-grid-button {
    background-color: #e1e1e1;
    color: #646464;
    padding: 8px 15px;
    border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-left: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    font-size: 12px;
    text-transform: uppercase;
}

.rm-grid-button:hover {
    background-color: #ff6c6c;
    color: #fffffe;
    cursor: pointer;
}
    
.rm-grid-button:hover .rm_fd_link { color: #FFF;}

.rm-grid-title {
    font-size: 22px;
    color: #646464;
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 34px;
}
#rm_form_toggle { padding: 0px;}
#rm_form_toggle select {
    height: 35px;
    background-color: #fafafa;
    border-radius: 4px;
    color: #969696;
    padding: 5px;

}
#rm_form_toggle:hover { background: transparent;}
.rm-grid-section {
    background-color: #fffffe;
    margin-bottom: 20px;
    border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow: hidden;
    padding: 0px;
}

.rm-collapsed:before{
    content: "\f142";
}

.rm-collapsible:before{
    content: "\f140";
}


.rm-grid-section-toggle{
    position: absolute;
    right: 40px;
}

.rm-grid-section-toggle:before{
    color: #e1e1e1;
    position: absolute;
    font: 400 25px/1 dashicons;
}

.rm-grid-section-title {
    font-size: 14px;
    padding: 15px;
    border-bottom: 3px solid #fafafa;
    color: grey;
}

.rm-grid-icon {
    width: 100px;
    height: 160px;
    margin-right: 60px;
    margin-left: 10px;
    text-align: center;
    position: relative;
}

.rm-grid-icon-area {
    width: 90px;
    height: 90px;
    position: relative;
    margin: 10px;
}

.rm-grid-icon-badge {
    z-index: 9;
    position: absolute;
    right: -10px;
    top: 0px;
    display: inline-block;
    float: right;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    background-color: #ff6c6c;
    transition: 1s;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 4px;
    height: 2em;
    line-height: 2;
    min-width: 30px;
    font-weight: 200;
}

img.rm-grid-icon {
    z-index: 1;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.rm-grid-icon-label {
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
}

.rm-grid-icon-warning {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    font-weight: 400;
    color: #ff6c6c;
    width: 90px;
    margin-left: 15px;
    padding: 3px 0px;
}

.rm-grid-quick-tasks {
    background-color: #fafafa;
    padding: 10px;
}

span.rm-grid-quick-task {
    font-size: 12px;
    margin-right: 10px;
}

span.rm-grid-quick-task a {
    font-size: 12px;
    text-transform: capitalize;
    color: #84abab;
    border-bottom: 1px dotted #84abab;
    vertical-align: text-bottom;
    text-decoration: none;
}

/*----Sidebar1----*/

.rm-grid-sidebar-1 {width: 19%; margin-left: 1%;}

.rm-grid-section-cards {
background-color: #fffffe;
padding-top: 10px;
margin-bottom: 15px;
border-radius: 4px;
-ms-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
-moz-border-radius: 4px;
overflow: hidden;
}

.rm-grid-sidebar-card {
    width: 90%;
    margin: 0px 5% -2px 5%;
    padding: 10px;
    position: relative;
    border-bottom: 2px solid #fafafa;
}

.rm-grid-card-profile-image {
    width: 45px;
    height: 45px;
    margin-left: 0;
    overflow: hidden;
    position: relative;
    float: left;
    border-radius: 50%;
}


.rm-grid-card-content {
    text-align: left;
    padding-top: 15px;
    width: 72%;
    margin-left: 5%;
}
.rm-grid-card-content .dbfl { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.rm-grid-card-content .dbfl:hover { overflow: visible ;}
.rm-grid-sidebar-card a { color: inherit; }
.rm-grid-sidebar-card a:hover .dbfl:not(.rm-grid-card-content-subtext) { color: #00a0d2; }
.rm-grid-card-profile-image img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 0px;
    width: 100%;
    height: 45px;
    object-fit: cover;
}

.rm-grid-card-content-subtext {font-size: 10px; color: lightgrey; font-weight: 600; text-transform: uppercase;}

.rm-grid-user-badge {
    z-index: 9;
    position: absolute;
    left: -10px;
    top: 10px;
    display: inline-block;
    float: right;
    padding: 4px 6px;
    min-width: 30px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    font-weight: 600px;
    color: #fff;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 0px solid #fff;
    background-color: #ff6c6c;
    transition: 1s;
    text-transform: uppercase;

}

/*----Sidebar2----*/

.rm-grid-sidebar-2 {
    width: 19%;
    margin-left: 1%;
}

.rm-grid-sidebar-row { padding: 10px;}
.rm-grid-sidebar-row-label { margin-right: 10px;}
.rm-grid-sidebar-row-value { font-weight: 600;}

.rm-grid-sidebar-row-icon {width: 20px; height: 20px; margin-right: 10px;}
.rm-grid-sidebar-row-icon img {max-width: 100%; height: auto;}

.rm-grid-sidebar-row-label a {color: #a00; text-decoration: none; font-weight: 200;}
.rm-grid-sidebar-row-label a:hover {color: red;}
.rm-grid-sidebar-row-value a {
    color: #84abab;
    border-bottom: 1px dotted #84abab;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 400;
} 

/*----Toggle----*/

.rm-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.rm-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.rm-toggle-round-flat + label {
  padding: 2px;
  width: 30px;
  height: 18px;
  background-color: #e1e1e1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
input.rm-toggle-round-flat + label:before, input.rm-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.rm-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.24s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
input.rm-toggle-round-flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 14px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: margin 0.2s, background 0.2s;
  -moz-transition: margin 0.2s, background 0.2s;
  -o-transition: margin 0.2s, background 0.2s;
  transition: margin 0.2s, background 0.2s;
}
input.rm-toggle-round-flat:checked + label {
  background-color: #ff6c6c;
}
input.rm-toggle-round-flat:checked + label:after {
  margin-left: 12px;
  background-color: #fff;
}
.rm_fd_link { color: #646464; text-decoration: none;}

/*------------Adjustments for smaller screens-----------------*/

@media screen and (max-width: 1366px) {
    .rm-grid-sidebar-1,
    .rm-grid-sidebar-2 {
        width: 22%;
        margin-left: 1%;
    }
    
    .rm-grid {
        width: 54%;
    }
    
    .rm-grid-icon {
        margin-right: 40px;
    }
    
}

@media screen and (max-width: 1000px) {
    .rm-grid-sidebar-1,
    .rm-grid-sidebar-2 {
        width: 48%;
        margin-right: 1%;
        margin-top: 20px;
    }
    
    .rm-grid {
        width: 100%;
    }
    
    .rm-grid-icon {
        margin-right: 20px;
    }
    
}

.rmnotice {
    width: 100%;
    float: left;
    text-align: center;
    /*background-color: #feebc1;*/
    padding: 16px;
    /*color: #a27347;*/
    font-family: monospace;
    font-size: 14px;
    margin-bottom: -1px;
}


.rm-grid-spacer {
    clear:both;
    height:15px;
    width:100%;
    background: #f1f1f1;
}

.rm-box-title{
    color: #94cdc9;
    padding: 10px;
    font-size: 18px;
}

.rm-timerange-dashboard {
margin-left: 15px;
padding-top: 10px;
clear: both;
}

/*Query answer tooltip */
.rm-grid .rm-form-configuration-wrapper .rm-grid-section { overflow: visible;}

.rm-grid-section-title { position: relative;}
.rm-grid-section-title .rm-query-answer {
   position: absolute;
   width: 220px;
   left: 110px;
   text-align: justify;
   top: -140px;
   padding: 10px;
   background: rgba(0,0,0,0.8);
   border-radius: 5px;
   color: #FFF;
}

.rm-grid-section-title .rm-query-answer:before {
	 display: block;
    position: absolute;
    top: 100%;
    left: 44%;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top-width: 10px;
    border-bottom: 0px solid transparent;
    border-style: solid;
    border-top-color: rgba(0,0,0,0.8);
	
}

.rm-grid-sidebar-2.difl { font-size:12px;}
#submit_label_textbox { width:100%; margin:5px 0px;}
#rm-submit-label { float:left;}
