//
// Post card
//

.post-card {
  background-color: $dark-purple-color;
  border: 3px solid white;
  transition: background-color .15s linear;

  // ~ hover
  &:hover { background-color: $purple-color; }

  //
  &.has-photo {
    &:hover { background-color: $dark-purple-color; }

    .card-link {

      &:hover {

        .card-content {
          p { opacity: .5; }
        }
      }
    }

    .card-content {
      position: relative;
      margin-top: -7em; // !#
    }
  }

  // link
  .card-link {

    &:hover {

      .card-content {
        p { opacity: 1; }
      }
    }
  }

  //
  .card-media {
    position: relative;

    img { width: 100%; }

    // scrim
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba($dark-purple-color,0) 0%, rgba($dark-purple-color,1) 100%);
    }
  }

  // r/n card-body?
  .card-content {
    padding: 1em;

    p {
      color: white;
      opacity: .5;
      transition: opacity .15s linear;
    }
  }

  @include breakpoint('medium-tablet') {
    .card-content { padding: 1.5em;}
  }

  @include breakpoint('small-display') {
    .card-content { padding: 2em; }
  }
}