//
// Grid
// ~ layout utilities
//

.grid-layout {
  @include clearfix;

  position: relative;

  //
  .grid-item,
  .grid-sizer {
    position: relative;
    float: left;
    width: 100%;
  }

  //
  .grid-sizer { display: block; }

  @include breakpoint('medium-tablet') {
    
    // NOTE some elements inside grid-items size differently, ref. scripts/components/grids
    &.js-grid-match-height {

      .grid-item {

        .vertical-align-middle {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        .content {
          height: 100%;
        
          &.tile-content { height: auto; }
        }
      }
    }

    &:not(.above-tablet) {

      .grid-item,
      .grid-sizer {
        
        &.size-fifth,
        &.size-one-fifth { width: 20%; }
        &.size-two-fifths { width: 40%; }
        &.size-three-fifths { width: 60%; }
        &.size-four-fifths { width: 80%; }
        &.size-quarter,
        &.size-one-quarter { width: 25%; }
        &.size-three-quarters { width: 75%; }
        &.size-third,
        &.size-one-third { width: 33.333%; }
        &.size-half,
        &.size-one-half { width: 50%; }
        &.size-two-thirds { width: 66.666%; }
      }
    }
  }

  @include breakpoint('small-display') {

    .grid-item,
    .grid-sizer {
      &.size-fifth,
      &.size-one-fifth { width: 20%; }
      &.size-two-fifths { width: 40%; }
      &.size-three-fifths { width: 60%; }
      &.size-four-fifths { width: 80%; }
      &.size-quarter,
      &.size-one-quarter { width: 25%; }
      &.size-three-quarters { width: 75%; }
      &.size-third,
      &.size-one-third { width: 33.333%; }
      &.size-half,
      &.size-one-half { width: 50%; }
      &.size-two-thirds { width: 66.666%; }
    }
  }
}