//
// Infinite-loading link
//

.infinite-loading-link {
  display: block;
  margin: 25px 0;
  width: 100%;
  height: 100px;
  text-align: center;
  text-indent: $offscreen;

  .link-label {
    display: inline-block;
    text-indent: $offscreen;
  }
}