//
// Social media links
//

.social-media-links {

  a {
    margin-right: 1em;
    opacity: .5;
    transition: opacity .15s linear;

    &:hover { opacity: .75; }
    &:active { opacity: 1; }
  }
}