//
// Site header
//

.site-header {
  position: fixed;
  z-index: $header-layer;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  height: 56px;
  background-color: $dark-blue-color;
  transition: height .15s linear, background-color .15s linear;

  // Theming 
  &.theme-transparent {
    height: 100px;
    background-color: transparent;

    &.theme-color {
      height: 56px;
      background-color: $dark-blue-color;
    }
  }

  @include breakpoint('medium-tablet') { padding: 0 1.5em; }
  @include breakpoint('small-display') {
    padding: 0 3.125em;
  
    .main-nav {
      flex-grow: 1;
      text-align: right;
    }
  }
  @include breakpoint('large-display') { padding: 0 6.25em; }
}