//
// Cover banner
//

.cover-banner { 
  position: relative;
  margin-top: -56px; // ~ site-header height
  width: 100%;
  height: 100vh;
  overflow: hidden;

  // TODO > tile
  .tile {

    // ~ overlays
    &.size-fill {

      &,
      .tile-link,
      .tile-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
    
    .tile-background {

      &.video-background {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translate(-50%, -50%);
        // background
        background-size: cover; 
      }
    }

    .tile-content { height: 100%; }
  }

  //
  .button-group {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
  }
}