//
// Colour variables
//

// Monochromatics
$extra-dark-grey-color: #222;
$dark-grey-color: #4b4b4b;
$grey-color: #646464;
$slightly-light-grey-color: #909090;
$light-grey-color: #bcbcbc;
$lighter-grey-color: #d0d0d0;
$very-light-grey-color: #ebebeb;
$extra-light-grey-color: #fafafa;

// Brand palette
$dark-navy-color: #14131d;
$dark-blue-color: #15273b;
$blue-color: #6c90b9;
$light-blue-color: #83b2e8;
$blue-grey-color: #8296a1;
$dark-purple-color: #222031;
$purple-color: #45425c;
$peach-color: #fff5ef;

// Button colour map
// (see modules/buttons)
$button-colors: (
  'black': (black, white),
  'extra-dark-grey': ($extra-dark-grey-color, white),
  'dark-grey': ($dark-grey-color, white),
  'grey': ($grey-color, white),
  'slightly-light-grey': ($slightly-light-grey-color, $dark-grey-color),
  'light-grey': ($light-grey-color, white),
  'lighter-grey': ($lighter-grey-color, $light-grey-color),
  'extra-light-grey': ($extra-light-grey-color, $light-grey-color),
  'white': (white, $grey-color),
  'dark-blue': ($dark-blue-color, white),
  'blue': ($blue-color, white)
);