//
// Font families & typography variables
//

// Font families
$sans-serif: 'Raleway', sans-serif !default;
$serif: 'Playfair Display', serif !default;
$script: serif !default;
$monospace: 'Courier New', 'Courier', serif !default;

// Default line heights
$body-line-height: 2;
$heading-line-height: 1.1;