//
// Shadow variables
//

// Text drop-shadows
$text-shadow: 0 1px 1px rgba(black, .14);
$heading-shadow: 0 5px 21px rgba(black, .14);

// Block-level pseudo-elevation shadow
$elevation-shadow: 0 7px 10px rgba(black, .2);