//
// Contact Form
// ext. Gravity Forms WordPress plugin
//

.gform_wrapper {
  position: relative;

  .gform_fields { margin-left: 0; }

  //
  .gform_validation_container { display: none !important; }

  // Field labels
  .gfield_label {
    font-weight: bold;
    font-size: .875em;

    // *
    .gfield_required {
      display: inline-block;
      vertical-align: center;
      padding-left: .25em;
      color: red; // $
    }
  }

  // Form fields
  .gfield {
    margin-bottom: 1em;
  
    // ~ placeholder text
    ::-webkit-input-placeholder { color: $light-grey-color; }
    ::-moz-placeholder { color: $light-grey-color; }
    :-ms-input-placeholder { color: $light-grey-color; }
    :-moz-placeholder { color: $light-grey-color; }
  }

  // Fields
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border-bottom: 1px solid $light-grey-color;
    color: $extra-dark-grey-color;
  }

  textarea {
    margin-bottom: 0;
    height: 58px; // #
  }
  
  .gfield {
    display: block;
    position: relative;

    // control
    .ginput_container { @include clearfix; }

    // validation message
    .validation_message {
      position: absolute;
      bottom: -2em;
      right: 0;
      font-size: .75em;
      color: red;
    }
  }

  // ~ button
  input[type="submit"] {

    @include button;

    background-color: transparent;
    border: 1px solid;
    border-radius: 999em; // ~
    box-shadow: none;
    color: $grey-color;
    
    &:hover { background-color: rgba($grey-color, .25); }
    &:active { background-color: rgba($grey-color, .5); }
  }

  //
  .gform_confirmation_message {
    padding: .75em 1em;
    border: 1px solid $lighter-grey-color;
    font-size: 1.5em;
    font-family: $serif;
    color: $slightly-light-grey-color;
  }

  .gform_footer {
    margin-top: 2em;
    text-align: right;
  }
}