//
// Breakpoint
// A media-query mixin (also see variables/breakpoints)
//

@mixin breakpoint($point) {

  @each $breakpoint, $query in $breakpoints {
    @if $point == $breakpoint {
      @if $point == 'mobile-only' {
        @media (min-width: $query) and (max-width: 599px) { @content; }
      } @elseif $point == 'below-medium-tablet' {
        @media (min-width: $query) and (max-width: 719px) { @content; }
      } @elseif $point == 'below-display' {
        @media (min-width: $query) and (max-width: 1279px) { @content; }
      } @else {
        @media (min-width: $query) { @content; }
      }
    }
  }
}