//
// Base form styles
//

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-tap-highlight-color: transparent;

  &:active,
  &:focus { outline: 0; }
}

// fixes IE8/9
input[type="checkbox"],
input[type="radio"] { padding: 0; }

// fixes S5, Chrome
input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: none;
}

// fixes S5, Chrome on OSX
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

// fixes FF3/4
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea,
select {
  padding: 1em;
  border: none;
  border: 0;
  font-size: 1em;
  font-family: $sans-serif;
  color: $grey-color;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color .15s linear, box-shadow .15s linear, color .15s linear;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea,
select {
  padding: 1em;
  width: 100%;
  border-radius: 0;
}

input[type="image"] { outline: none; }

textarea {
  vertical-align: top;
  overflow: auto; // fixes IE6/7/8/9
  resize: vertical;
}