//
// Base media styles
//

img,
figure {
  max-width: 100%;
  height: auto;

  // WordPress media-alignment classes
  &.alignnone { margin: 1em; }
  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

picture {
  display: block;

  img { display: block; }
}

embed,
iframe,
object { max-width: 100%; }