//
// Base typography styles
//

body {
  font-family: $sans-serif;
  font-size: 16px;
  line-height: $body-line-height;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  &:last-child { margin-bottom: 0; }
}

// Paragraphs
p {
  margin: 0 0 1.5em;

  &:last-child { margin-bottom: 0; }
}

// Bold
strong, b { font-weight: bold; }

// Italics
em, i { font-style: italic; }

//
mark, ins {
  padding: .2em;
  text-decoration: none;
}

// Abbreviations & Acronyms
abbr[title],
acronym {
  cursor: help;
  border-bottom: 1px dotted;
}

// Addresses
address {
  margin-bottom: 1.5em;
  font-style: normal;
}

// Blockquotes
blockquote {
  margin: 0 0 1.5em 2.5em;

  p {
    font-size: 1em;
    line-height: 1.6; // TODO: var
  }

  footer {
    display: block;
    margin-top: 1em;
  }
}

// Code
pre {
  margin-bottom: 1.5em;
  padding: 1.5em;
  max-width: 100%;
  background-color: rgba(black, .15);
  font-family: $monospace;
  overflow: auto;
}

code, kbd, tt, var { font-family: $monospace; }

// Sizes
small { font-size: 75%; }
big { font-size: 125%; }

// Superscript & Subscript
sup,
sub {
  position: relative;
  height: 0;
  line-height: 0;
  font-size: 60%;
  vertical-align: baseline;
}

sup { bottom: 1ex; }
sub { top: .5ex; }

// Horizontal rule
hr {
  margin: 1.5em 0;
  border: 0;
  height: 1px;
}