//
// Body styles
//

html,
body { min-height: 100%; }

body {
  width: 100%;
  overflow-x: hidden;

  // util.
  &.is-scroll-locked {
    position: fixed; // fixes iOS
    overflow: hidden;
  
    @include breakpoint('small-display') { position: relative; }
  }
}