//
// Drawer
//

@mixin drawer {
  position: fixed;
  z-index: 220;
  top: 0;
  left: 0;
  //display: none; // @
  width: calc(100vw - 56px);
  max-width: 320px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(black, .15);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transform: translateX(100%);
  transition: transform .15s linear; // anim. out

  &.is-open {
    transform: translateX(0);
    transition: transform .25s ease-out !important; // anim. in
  }
}

// util.
.drawer { @include drawer; }


/*
.menu-drawer {
  right: auto;
  left: 0;
  transform: translateX(-100%);

  // Header
  .drawer-header {
    display: block;
    width: 100%;
    //height: 130px;
    background-color: $grey-color;
    // background-image from settings
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .content { padding: 0 1em 1em; }
  }

  .drawer-content {
    .elastic-menu {
      border-bottom: 1px solid #efefef; // $
    }
  }
}
*/