//
// Drawer
//

@mixin drawer {
  position: fixed;
  z-index: 220;
  top: 0;
  left: 0;
  width: calc(100vw - 56px);
  max-width: 320px;
  height: 100vh;
  background-color: $dark-blue-color;
  box-shadow: 0 0 10px 3px rgba(black, .15);
  overflow-y: auto; // scroll
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; // ~ elastic scrolling on iOS
  transform: translateX(-100%);
  transition: transform .15s linear; // anim. out

  &.is-open {
    transform: translateX(0);
    transition: transform .25s ease-out !important; // anim. in
  }
}

// util.
.drawer { @include drawer; }