//
// Menu drawer
//

.menu-drawer {
  right: auto;
  left: 0;
  transform: translateX(-100%);

  // Header
  .drawer-header {
    display: block;
    width: 100%;
    //height: 130px;
    background-color: $grey-color;
    // background-image from settings
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .content { padding: 0 1em 1em; }
  }

  .drawer-content {
    .elastic-menu {
      border-bottom: 1px solid #efefef; // $
    }
  }
}