/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2016, 6:48:01 PM
    Author     : RegistrationMagic
*/

.rmagic input {height: auto !important;}

.rmagic .rmrow {    
    display: block;
    float: left;
    position: inherit;
    padding: 11px 0px 13px 0px;
    min-height: 60px;
    width: 100%;
}

.rm_spacing {
    margin-top:100px;
    clear: both;
    width: 100%;
    float: left;
}

.rm_divider {
    width:100%;
    size:8px;
   clear: both;
    float: left;
}

.rmagic .rmfield {margin-bottom: 10px;}

.rmagic .rmrow li { list-style:none;}

#ui-datepicker-div .ui-datepicker-calendar td {    padding: 0px;    border-width: 0 0px 0px 0;}
#ui-datepicker-div .ui-datepicker-calendar th {    padding: 0px;    border-width: 0 0px 0px 0;}

#ui-datepicker-div.ui-widget-content {    width: 230px;}
input[type="file"] {padding: 10px;}

/*----Terms and Conditions---*/
div.rm_terms_checkbox {float: left;}
div#rm_terms_textarea_without_scroll {display: inline-block; float: left; margin-left: 5px;}


div#rm_add_repeatable_field.rm_actions {cursor: pointer;}
sup.required {color: red;}

/*----Error Notifications----*/

label.rm-form-field-invalid-msg {
    padding: 3px 8px;
    display: inline-block;
    background-color: #d2f3bf;
    color: #6faf49;
    border: 1px solid #b0ed98;
    margin: 5px 0 0 0;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    animation: rm-warning 1s ease-out 1;
    -webkit-animation: rm-warning 1s ease-out 1;
    -moz-animation: rm-warning 1s ease-out 1;
    -o-animation: rm-warning 1s ease-out 1;
    float:left;
}

label.rm-form-field-invalid-msg::before{content: "⚠ "; font-size: 14px;}

@keyframes rm-warning {
    0% {transform: translateY(2000px);}
    100% {transform: translateY(0px);}    
}

@-webkit-keyframes rm-warning {
    0% {transform: translateY(2000px);}
    100% {transform: translateY(0px);}    
}

@-moz-keyframes rm-warning {
    0% {transform: translateY(2000px);}
    100% {transform: translateY(0px);}    
}

@-o-keyframes rm-warning {
    0% {transform: translateY(2000px);}
    100% {transform: translateY(0px);}    
}

.rmagic .alert-error {  
    background-color: #d2f3bf;
    color: #6faf49;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px;
    border: 1px solid #6faf49;
}

.rmagic .alert-error ul {margin: 0px; list-style: none;}
.rmagic .alert-error > a {display: inline-block;
    float: right;
    box-shadow: none;
    color: #6faf49;
    text-align: center;
    font-size: 12px;
    border-bottom: 0px !important;}

/*----Terms and Conditions---*/
div.rm_terms_checkbox {float: left;}
div#rm_terms_textarea_without_scroll {display: inline-block; float: left; margin-left: 5px;}

/*----Help Text on fields----*/

.rmagic .rmnote {
    width: 80%;
    margin-left: 10%;
}

.rm-floating-page-content .rmrow .rminput input[type="file"] 

{width: 100%;}

.rm-floating-page-content .rmrow .rminput select {width: 100%;}

.rm-floating-page-content .rmrow .rminput input[type="number"] 

{width: 100%;} 

.rmagic .rm_total_price {
    text-align:center;
    font-size:larger;
}
/*Price Fields Quantity*/


.rmagic .rm_pricefield_checkbox .rmrow,
.rmagic .rm_pricefield_row .rmrow {padding-left: 0px;}

.rmagic .rm_pricefield_checkbox .rmrow sup,
.rmagic .rm_pricefield_row .rmrow sup { display: none;}

.rmagic .rm_pricefield_checkbox .rmrow .rmfield,
.rmagic .rm_pricefield_row .rmrow .rmfield { width: 25px; padding-left: 0; text-align: center;}

.rmagic .rm_pricefield_checkbox .rmrow .rminput,
.rmagic .rm_pricefield_row .rmrow .rminput { max-width: 75px; padding-left: 0px; padding-top: 0px;}

.rm_pricefield_row .rminput > select, .rm_pricefield_row .rminput > input[type="text"]{ width: 30%; float: left;}

.rm_pricefield_row .rminput .rmrow { width: 30%; float: left; padding: 0; }
.rm_pricefield_row .rminput .rmrow .rmfield { float: left; padding-top: 5px;}
.rm_pricefield_row .rminput .rmrow .rminput { float: left;}

.rm_pricefield_checkbox .rminput .rmrow { width: 30%; float: left; padding: 0; }
.rmagic .rm_pricefield_checkbox .rminput .rmradio input[type="checkbox"]{float: left; margin-top: 15px; }
.rmagic .rm_pricefield_checkbox .rminput .rmradio span {    float: left; line-height: 40px;}
.rmagic .rm_pricefield_checkbox .rmradio .rmrow .rmfield{float: left; padding-top: 5px;}
.rmagic .rm_pricefield_checkbox .rmradio .rmrow .rminput{float: left;}
.rmagic .rm_pricefield_checkbox .rmradio li { display: block; float: left; width:100%; }

