//
// Icon
//

@mixin icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  text-indent: $offscreen;  
}

.icon { @include icon; }

// Icon colour & style utilities
@each $icon in $icons {
  .#{$icon}-icon {
    background-image: url('assets/images/icons/icon_#{$icon}.svg');
  }

  .small-#{$icon}-icon {    
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url('assets/images/icons/icon_#{$icon}.svg');
  }
}