//
// Infinite loading icon
//

.infinite-loading-icon {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-image: url('assets/images/icons/icon_loading_S.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .35;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/images/icons/icon_loading_shape.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    // spin
    animation: rotate 3s linear infinite;
  }
}