/*!
Theme Name: Stratus
Author: The New Beat
Description: Made for Stratus by The New Beat
Version: 1
*/
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
* 1. Change the default font family in all browsers (opinionated).
* 2. Correct the line height in all browsers.
* 3. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
*/
/* Document
========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0;
}

/**
* Add the correct display in IE 9-.
*/
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* Add the correct display in IE 9-.
* 1. Add the correct display in IE.
*/
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
* Add the correct margin in IE 8.
*/
figure {
  margin: 1em 40px;
}

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
* Remove the outline on focused links when they are also active or hovered
* in all browsers (opinionated).
*/
a:active,
a:hover {
  outline-width: 0;
}

/**
* 1. Remove the bottom border in Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
*/
b,
strong {
  font-weight: inherit;
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font style in Android 4.3-.
*/
dfn {
  font-style: italic;
}

/**
* Add the correct background and color in IE 9-.
*/
mark {
  background-color: #ff0;
  color: #000;
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Add the correct display in IE 9-.
*/
audio,
video {
  display: inline-block;
}

/**
* Add the correct display in iOS 4-7.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none;
}

/**
* Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Change the border, margin, and padding in all browsers (opinionated).
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in IE 9-.
* 1. Add the correct display in Edge, IE, and Firefox.
*/
details,
menu {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Scripting
========================================================================== */
/**
* Add the correct display in IE 9-.
*/
canvas {
  display: inline-block;
}

/**
* Add the correct display in IE.
*/
template {
  display: none;
}

/* Hidden
========================================================================== */
/**
* Add the correct display in IE 10-.
*/
[hidden] {
  display: none;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (min-width: 80em) {
  .anim-floating {
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
    transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.hide-below-display {
  display: none;
}
@media (min-width: 80em) {
  .hide-below-display {
    display: block;
  }
}

.size-full-frame {
  width: 100vw;
  height: 100vh;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 1em;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0;
}

input[type="submit"] {
  padding-top: 0;
  padding-bottom: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-tap-highlight-color: transparent;
}
input:active, input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  outline: 0;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea,
select {
  padding: 1em;
  border: none;
  border: 0;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  color: #646464;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, box-shadow .15s linear, color .15s linear;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea,
select {
  padding: 1em;
  width: 100%;
  border-radius: 0;
}

input[type="image"] {
  outline: none;
}

textarea {
  vertical-align: top;
  overflow: auto;
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  margin-bottom: .5em;
  font-weight: bold;
}

dd {
  margin: 0 0 1em 0;
}

img,
figure {
  max-width: 100%;
  height: auto;
}
img.alignnone,
figure.alignnone {
  margin: 1em;
}
img.aligncenter,
figure.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

picture {
  display: block;
}
picture img {
  display: block;
}

embed,
iframe,
object {
  max-width: 100%;
}

table {
  margin: 2em 0;
  width: 100%;
}
table th {
  font-weight: bold;
}
table td {
  padding: .25em;
  border: 1px solid;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 2;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

p {
  margin: 0 0 1.5em;
}
p:last-child {
  margin-bottom: 0;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.text_shadow{
  text-shadow:0px 0px 7px rgba(0,0,0,1);
}
mark, ins {
  padding: .2em;
  text-decoration: none;
}

abbr[title],
acronym {
  cursor: help;
  border-bottom: 1px dotted;
}

address {
  margin-bottom: 1.5em;
  font-style: normal;
}

blockquote {
  margin: 0 0 1.5em 2.5em;
}
blockquote p {
  font-size: 1em;
  line-height: 1.6;
}
blockquote footer {
  display: block;
  margin-top: 1em;
}

pre {
  margin-bottom: 1.5em;
  padding: 1.5em;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  font-family: "Courier New", "Courier", serif;
  overflow: auto;
}

code, kbd, tt, var {
  font-family: "Courier New", "Courier", serif;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

sup,
sub {
  position: relative;
  height: 0;
  line-height: 0;
  font-size: 60%;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

hr {
  margin: 1.5em 0;
  border: 0;
  height: 1px;
}

.banner {
  position: relative;
  overflow: hidden;
}

.cover-banner {
  position: relative;
  margin-top: -56px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.cover-banner .tile.size-fill,
.cover-banner .tile.size-fill .tile-link,
.cover-banner .tile.size-fill .tile-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover-banner .tile .tile-background.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-size: cover;

}
.cover-banner .tile .tile-content {
  height: 100%;
}
.cover-banner .button-group {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
}
.button:hover, .button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.button:disabled * {
  pointer-events: none;
}
.button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.button .icon + .button-label {
  margin-left: 1em;
}
@media (min-width: 80em) {
  .button.anim-floating:active {
    margin-top: 3px;
  }
}

.black-button {
  background-color: black;
  color: white;
}
.black-button:active {
  background-color: black;
}

.black-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: black;
}
.black-rounded-outline-button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.black-rounded-outline-button:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.extra-dark-grey-button {
  background-color: #222;
  color: white;
}
.extra-dark-grey-button:active {
  background-color: #151515;
}

.extra-dark-grey-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #222;
}
.extra-dark-grey-rounded-outline-button:hover {
  background-color: rgba(34, 34, 34, 0.25);
}
.extra-dark-grey-rounded-outline-button:active {
  background-color: rgba(34, 34, 34, 0.5);
}

.dark-grey-button {
  background-color: #4b4b4b;
  color: white;
}
.dark-grey-button:active {
  background-color: #3e3e3e;
}

.dark-grey-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #4b4b4b;
}
.dark-grey-rounded-outline-button:hover {
  background-color: rgba(75, 75, 75, 0.25);
}
.dark-grey-rounded-outline-button:active {
  background-color: rgba(75, 75, 75, 0.5);
}

.grey-button {
  background-color: #646464;
  color: white;
}
.grey-button:active {
  background-color: #575757;
}

.grey-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #646464;
}
.grey-rounded-outline-button:hover {
  background-color: rgba(100, 100, 100, 0.25);
}
.grey-rounded-outline-button:active {
  background-color: rgba(100, 100, 100, 0.5);
}

.slightly-light-grey-button {
  background-color: #909090;
  color: #4b4b4b;
}
.slightly-light-grey-button:active {
  background-color: #838383;
}

.slightly-light-grey-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #909090;
}
.slightly-light-grey-rounded-outline-button:hover {
  background-color: rgba(144, 144, 144, 0.25);
}
.slightly-light-grey-rounded-outline-button:active {
  background-color: rgba(144, 144, 144, 0.5);
}

.light-grey-button {
  background-color: #bcbcbc;
  color: white;
}
.light-grey-button:active {
  background-color: #afafaf;
}

.light-grey-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #bcbcbc;
}
.light-grey-rounded-outline-button:hover {
  background-color: rgba(188, 188, 188, 0.25);
}
.light-grey-rounded-outline-button:active {
  background-color: rgba(188, 188, 188, 0.5);
}

.lighter-grey-button {
  background-color: #d0d0d0;
  color: #bcbcbc;
}
.lighter-grey-button:active {
  background-color: #c3c3c3;
}

.lighter-grey-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #d0d0d0;
}
.lighter-grey-rounded-outline-button:hover {
  background-color: rgba(208, 208, 208, 0.25);
}
.lighter-grey-rounded-outline-button:active {
  background-color: rgba(208, 208, 208, 0.5);
}

.extra-light-grey-button {
  background-color: #fafafa;
  color: #bcbcbc;
}
.extra-light-grey-button:active {
  background-color: #ededed;
}

.extra-light-grey-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #fafafa;
}
.extra-light-grey-rounded-outline-button:hover {
  background-color: rgba(250, 250, 250, 0.25);
}
.extra-light-grey-rounded-outline-button:active {
  background-color: rgba(250, 250, 250, 0.5);
}

.white-button {
  background-color: white;
  color: #646464;
}
.white-button:active {
  background-color: #f2f2f2;
}

.white-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: white;
}
.white-rounded-outline-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.white-rounded-outline-button:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.dark-blue-button {
  background-color: #15273b;
  color: white;
}
.dark-blue-button:active {
  background-color: #0e1b28;
}

.dark-blue-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #15273b;
}
.dark-blue-rounded-outline-button:hover {
  background-color: rgba(21, 39, 59, 0.25);
}
.dark-blue-rounded-outline-button:active {
  background-color: rgba(21, 39, 59, 0.5);
}

.blue-button {
  background-color: #6c90b9;
  color: white;
}
.blue-button:active {
  background-color: #5b83b1;
}

.blue-rounded-outline-button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #6c90b9;
}
.blue-rounded-outline-button:hover {
  background-color: rgba(108, 144, 185, 0.25);
}
.blue-rounded-outline-button:active {
  background-color: rgba(108, 144, 185, 0.5);
}

.back-to-top-button {
  position: fixed !important;
  z-index: 200;
  bottom: 1em;
  right: 1em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .15s linear, -webkit-transform .15s linear !important;
  transition: opacity .15s linear, -webkit-transform .15s linear !important;
  transition: opacity .15s linear, transform .15s linear !important;
  transition: opacity .15s linear, transform .15s linear, -webkit-transform .15s linear !important;
  -webkit-transform: translateY(-1em);
  transform: translateY(-1em);
}
.back-to-top-button.is-visible {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity .35s linear, -webkit-transform .35s ease-in-out !important;
  transition: opacity .35s linear, -webkit-transform .35s ease-in-out !important;
  transition: opacity .35s linear, transform .35s ease-in-out !important;
  transition: opacity .35s linear, transform .35s ease-in-out, -webkit-transform .35s ease-in-out !important;
}
@media (min-width: 45em) {
  .back-to-top-button {
    bottom: 1.5em;
    right: 1.5em;
  }
}
@media (min-width: 80em) {
  .back-to-top-button {
    bottom: 3.125em;
    right: 3.125em;
  }
}

.icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
}
.icon-button:hover, .icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.icon-button:disabled * {
  pointer-events: none;
}
.icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.icon-button .icon + .button-label {
  margin-left: 1em;
}
.icon-button:hover, .icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.black-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: black;
  color: white;
}
.black-icon-button:hover, .black-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.black-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.black-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.black-icon-button:disabled * {
  pointer-events: none;
}
.black-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.black-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.black-icon-button .icon + .button-label {
  margin-left: 1em;
}
.black-icon-button:hover, .black-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.black-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.black-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.black-icon-button:hover, .black-icon-button:focus {
  background-color: #0d0d0d;
}
.black-icon-button:active {
  background-color: #131313;
}

.extra-dark-grey-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #222;
  color: white;
}
.extra-dark-grey-icon-button:hover, .extra-dark-grey-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.extra-dark-grey-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.extra-dark-grey-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.extra-dark-grey-icon-button:disabled * {
  pointer-events: none;
}
.extra-dark-grey-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.extra-dark-grey-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.extra-dark-grey-icon-button .icon + .button-label {
  margin-left: 1em;
}
.extra-dark-grey-icon-button:hover, .extra-dark-grey-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.extra-dark-grey-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.extra-dark-grey-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.extra-dark-grey-icon-button:hover, .extra-dark-grey-icon-button:focus {
  background-color: #2f2f2f;
}
.extra-dark-grey-icon-button:active {
  background-color: #353535;
}

.dark-grey-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #4b4b4b;
  color: white;
}
.dark-grey-icon-button:hover, .dark-grey-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.dark-grey-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.dark-grey-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.dark-grey-icon-button:disabled * {
  pointer-events: none;
}
.dark-grey-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.dark-grey-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.dark-grey-icon-button .icon + .button-label {
  margin-left: 1em;
}
.dark-grey-icon-button:hover, .dark-grey-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.dark-grey-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.dark-grey-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dark-grey-icon-button:hover, .dark-grey-icon-button:focus {
  background-color: #585858;
}
.dark-grey-icon-button:active {
  background-color: #5e5e5e;
}

.grey-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #646464;
  color: white;
}
.grey-icon-button:hover, .grey-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.grey-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.grey-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.grey-icon-button:disabled * {
  pointer-events: none;
}
.grey-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.grey-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.grey-icon-button .icon + .button-label {
  margin-left: 1em;
}
.grey-icon-button:hover, .grey-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.grey-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.grey-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.grey-icon-button:hover, .grey-icon-button:focus {
  background-color: #717171;
}
.grey-icon-button:active {
  background-color: #777777;
}

.slightly-light-grey-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #909090;
  color: #4b4b4b;
}
.slightly-light-grey-icon-button:hover, .slightly-light-grey-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.slightly-light-grey-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.slightly-light-grey-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.slightly-light-grey-icon-button:disabled * {
  pointer-events: none;
}
.slightly-light-grey-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.slightly-light-grey-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.slightly-light-grey-icon-button .icon + .button-label {
  margin-left: 1em;
}
.slightly-light-grey-icon-button:hover, .slightly-light-grey-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.slightly-light-grey-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.slightly-light-grey-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slightly-light-grey-icon-button:hover, .slightly-light-grey-icon-button:focus {
  background-color: #9d9d9d;
}
.slightly-light-grey-icon-button:active {
  background-color: #a3a3a3;
}

.light-grey-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #bcbcbc;
  color: white;
}
.light-grey-icon-button:hover, .light-grey-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.light-grey-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.light-grey-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.light-grey-icon-button:disabled * {
  pointer-events: none;
}
.light-grey-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.light-grey-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.light-grey-icon-button .icon + .button-label {
  margin-left: 1em;
}
.light-grey-icon-button:hover, .light-grey-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.light-grey-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.light-grey-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.light-grey-icon-button:hover, .light-grey-icon-button:focus {
  background-color: #c9c9c9;
}
.light-grey-icon-button:active {
  background-color: #cfcfcf;
}

.lighter-grey-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #d0d0d0;
  color: #bcbcbc;
}
.lighter-grey-icon-button:hover, .lighter-grey-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.lighter-grey-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.lighter-grey-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.lighter-grey-icon-button:disabled * {
  pointer-events: none;
}
.lighter-grey-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.lighter-grey-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.lighter-grey-icon-button .icon + .button-label {
  margin-left: 1em;
}
.lighter-grey-icon-button:hover, .lighter-grey-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.lighter-grey-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.lighter-grey-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lighter-grey-icon-button:hover, .lighter-grey-icon-button:focus {
  background-color: #dddddd;
}
.lighter-grey-icon-button:active {
  background-color: #e3e3e3;
}

.extra-light-grey-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #fafafa;
  color: #bcbcbc;
}
.extra-light-grey-icon-button:hover, .extra-light-grey-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.extra-light-grey-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.extra-light-grey-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.extra-light-grey-icon-button:disabled * {
  pointer-events: none;
}
.extra-light-grey-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.extra-light-grey-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.extra-light-grey-icon-button .icon + .button-label {
  margin-left: 1em;
}
.extra-light-grey-icon-button:hover, .extra-light-grey-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.extra-light-grey-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.extra-light-grey-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.extra-light-grey-icon-button:hover, .extra-light-grey-icon-button:focus {
  background-color: white;
}
.extra-light-grey-icon-button:active {
  background-color: white;
}

.white-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: white;
  color: #646464;
}
.white-icon-button:hover, .white-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.white-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.white-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.white-icon-button:disabled * {
  pointer-events: none;
}
.white-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.white-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.white-icon-button .icon + .button-label {
  margin-left: 1em;
}
.white-icon-button:hover, .white-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.white-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.white-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.white-icon-button:hover, .white-icon-button:focus {
  background-color: white;
}
.white-icon-button:active {
  background-color: white;
}

.dark-blue-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #15273b;
  color: white;
}
.dark-blue-icon-button:hover, .dark-blue-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.dark-blue-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.dark-blue-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.dark-blue-icon-button:disabled * {
  pointer-events: none;
}
.dark-blue-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.dark-blue-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.dark-blue-icon-button .icon + .button-label {
  margin-left: 1em;
}
.dark-blue-icon-button:hover, .dark-blue-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.dark-blue-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.dark-blue-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dark-blue-icon-button:hover, .dark-blue-icon-button:focus {
  background-color: #1c334e;
}
.dark-blue-icon-button:active {
  background-color: #1f3a57;
}

.blue-icon-button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #6c90b9;
  color: white;
}
.blue-icon-button:hover, .blue-icon-button:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.blue-icon-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.blue-icon-button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.blue-icon-button:disabled * {
  pointer-events: none;
}
.blue-icon-button .button-label {
  display: inline-block;
  vertical-align: middle;
}
.blue-icon-button .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.blue-icon-button .icon + .button-label {
  margin-left: 1em;
}
.blue-icon-button:hover, .blue-icon-button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
.blue-icon-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}
.blue-icon-button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent !important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.blue-icon-button:hover, .blue-icon-button:focus {
  background-color: #7d9dc1;
}
.blue-icon-button:active {
  background-color: #86a4c5;
}

.menu-button {
  margin-right: 2em;
}
@media (min-width: 80em) {
  .menu-button {
    display: none;
  }
}

.photo-overlay-button {
  background-color: rgba(20, 19, 29, 0.5);
  border: 1px solid white;
  border-radius: 999em;
  box-shadow: none;
  color: white;
  -webkit-transition: margin-top .15s linear, background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear, -webkit-transform .3s ease-out;
  transition: margin-top .15s linear, background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear, -webkit-transform .3s ease-out;
  transition: margin-top .15s linear, transform .3s ease-out, background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: margin-top .15s linear, transform .3s ease-out, background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear, -webkit-transform .3s ease-out;
}
.photo-overlay-button:hover {
  background-color: rgba(20, 19, 29, 0.75);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.photo-overlay-button:active {
  background-color: #14131d;
}

.text-button {
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.text-button .icon {
  padding-left: .5em;
}

.post-card {
  background-color: #222031;
  border: 3px solid white;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear;
}
.post-card:hover {
  background-color: #45425c;
}
.post-card.has-photo:hover {
  background-color: #222031;
}
.post-card.has-photo .card-link:hover .card-content p {
  opacity: .5;
}
.post-card.has-photo .card-content {
  position: relative;
  margin-top: -7em;
}
.post-card .card-link:hover .card-content p {
  opacity: 1;
}
.post-card .card-media {
  position: relative;
}
.post-card .card-media img {
  width: 100%;
}
.post-card .card-media:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-linear-gradient(top, rgba(34, 32, 49, 0) 0%, #222031 100%);
  background: linear-gradient(to bottom, rgba(34, 32, 49, 0) 0%, #222031 100%);
}
.post-card .card-content {
  padding: 1em;
}
.post-card .card-content p {
  color: white;
  opacity: .5;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
@media (min-width: 45em) {
  .post-card .card-content {
    padding: 1.5em;
  }
}
@media (min-width: 80em) {
  .post-card .card-content {
    padding: 2em;
  }
}

.content.clamp-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.content.has-padding {
  padding: 2em 1.25em;
}
@media (min-width: 45em) {
  .content.has-padding {
    padding: 2.5em;
  }
}
@media (min-width: 80em) {
  .content.has-padding {
    padding: 3.5em;
  }
}
@media (min-width: 90em) {
  .content.has-padding {
    padding: 5em;
  }
}
@media (min-width: 105em) {
  .content.has-padding {
    padding: 7em;
  }
}
.content.has-condensed-padding {
  padding: 1em;
}
@media (min-width: 45em) {
  .content.has-condensed-padding {
    padding: 1.5em;
  }
}
@media (min-width: 80em) {
  .content.has-condensed-padding {
    padding: 2em;
  }
}
@media (min-width: 90em) {
  .content.has-condensed-padding {
    padding: 2.5em;
  }
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
.content .h1, .content .h2, .content .h3, .content .h4, .content .h5, .content .h6 {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.1;
}
.content h1:last-child, .content h2:last-child, .content h3:last-child, .content h4:last-child, .content h5:last-child, .content h6:last-child,
.content .h1:last-child, .content .h2:last-child, .content .h3:last-child, .content .h4:last-child, .content .h5:last-child, .content .h6:last-child {
  margin-bottom: 0;
}
.content h1, .content h2,
.content .h1, .content .h2 {
  font-size: 2.25em;
  font-family: "Playfair Display", serif;
  color: #14131d;
}
.content h1, .content .h1 {
  margin-bottom: .35em;
}
.content h3, .content .h3 {
  font-size: 2em;
  font-family: "Playfair Display", serif;
  color: #14131d;
}
.content h4, .content h5, .content h6,
.content .h4, .content .h5, .content .h6 {
  font-weight: normal;
  line-height: 2;
}
.content h4, .content .h4 {
  font-size: 1.125em;
  color: #909090;
}
.content h5, .content h6,
.content .h5, .content .h6 {
  margin-bottom: 1em;
  font-size: .813em;
  text-transform: uppercase;
  color: #909090;
}
.content h5, .content .h5 {
  letter-spacing: .4em;
}
.content h6, .content .h6 {
  letter-spacing: .2em;
}
.content p {
  font-size: 1em;
  color: #909090;
}
.content p a:not(.button) {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: #83b2e8;
  -webkit-transition: border-color .15s linear, color .15s linear, opacity .15s linear;
  transition: border-color .15s linear, color .15s linear, opacity .15s linear;
}
.content p a:not(.button):hover {
  border-color: #99bfec;
  color: #99bfec;
}
.content ul,
.content ol {
  margin: 2.5em 0 2.5em 2.5em;
}
.content ul li,
.content ol li {
  margin-bottom: 1em;
  font-size: 1em;
  color: #909090;
}
.content ul {
  list-style: disc outside;
}
.content ul.no-bullets {
  margin-left: 0;
  list-style: none;
}
.content ol {
  list-style: decimal outside;
}
.content address {
  font-size: 1.25em;
  font-family: "Playfair Display", serif;
  color: #909090;
}
.content blockquote p {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.4;
  font-family: "Playfair Display", serif;
}
.content blockquote cite {
  font-style: normal;
}
.content blockquote cite p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
.content figure {
  margin: 0;
}
.content .wp-caption-text {
  display: block;
  margin-bottom: 2em;
  text-align: center;
  font-size: .875em;
  color: #909090;
}
.content .video {
  max-width: 100%;
  height: auto;
}
.content.theme-white,
.content.theme-white * {
  color: white;
}
.content.theme-white h4, .content.theme-white h5, .content.theme-white h6,
.content.theme-white .h4, .content.theme-white .h5, .content.theme-white .h6 {
  color: rgba(255, 255, 255, 0.65);
}
.content.theme-white p {
  color: rgba(255, 255, 255, 0.65);
}
.content.theme-white p a:not(.button) {
  color: white;
}
.content.theme-white p a:not(.button):hover, .content.theme-white p a:not(.button):active {
  border-color: white;
  color: white;
}
.content.theme-white ul a,
.content.theme-white ol a {
  opacity: .65;
}
.content.theme-white ul a:hover,
.content.theme-white ol a:hover {
  opacity: 1;
}
.content.theme-white blockquote p {
  color: white;
}
.content.theme-dark-navy,
.content.theme-dark-navy *, .content.theme-dark-blue,
.content.theme-dark-blue *, .content.theme-blue-grey, .services-section:hover .content,
.content.theme-blue-grey *,
.services-section:hover .content *, .content.theme-dark-grey,
.content.theme-dark-grey * {
  color: white;
}
.content.theme-dark-navy p, .content.theme-dark-blue p, .content.theme-blue-grey p, .services-section:hover .content p, .content.theme-dark-grey p {
  color: rgba(255, 255, 255, 0.65);
}
.content.theme-dark-navy p a:not(.button), .content.theme-dark-blue p a:not(.button), .content.theme-blue-grey p a:not(.button), .services-section:hover .content p a:not(.button), .content.theme-dark-grey p a:not(.button) {
  color: white;
}
.content.theme-dark-navy p a:not(.button):hover, .content.theme-dark-navy p a:not(.button):active, .content.theme-dark-blue p a:not(.button):hover, .content.theme-dark-blue p a:not(.button):active, .content.theme-blue-grey p a:not(.button):hover, .services-section:hover .content p a:not(.button):hover, .content.theme-blue-grey p a:not(.button):active, .services-section:hover .content p a:not(.button):active, .content.theme-dark-grey p a:not(.button):hover, .content.theme-dark-grey p a:not(.button):active {
  border-color: white;
  color: white;
}
.content.theme-dark-navy ul a,
.content.theme-dark-navy ol a, .content.theme-dark-blue ul a,
.content.theme-dark-blue ol a, .content.theme-blue-grey ul a, .services-section:hover .content ul a,
.content.theme-blue-grey ol a,
.services-section:hover .content ol a, .content.theme-dark-grey ul a,
.content.theme-dark-grey ol a {
  opacity: .4;
  transition:opacity 0.25s;
}
.content.theme-dark-navy ul a:hover,
.content.theme-dark-navy ol a:hover, .content.theme-dark-blue ul a:hover,
.content.theme-dark-blue ol a:hover, .content.theme-blue-grey ul a:hover, .services-section:hover .content ul a:hover,
.content.theme-blue-grey ol a:hover,
.services-section:hover .content ol a:hover, .content.theme-dark-grey ul a:hover,
.content.theme-dark-grey ol a:hover {
  opacity: 1;
}
.content.theme-dark-navy blockquote p, .content.theme-dark-blue blockquote p, .content.theme-blue-grey blockquote p, .services-section:hover .content blockquote p, .content.theme-dark-grey blockquote p {
  color: white;
}
.content.theme-dark-navy {
  background-color: #14131d;
}
.content.theme-dark-blue {
  background-color: #15273b;
}
.content.theme-blue-grey, .services-section:hover .content {
  background-color: #8296a1;
}
.content.theme-dark-grey {
  background-color: #4b4b4b;
}
.content.theme-extra-light-grey {
  background-color: #fafafa;
}
@media (min-width: 45em) {
  .content h1, .content .h1 {
    font-size: 4.75em;
  }
  .content h2, .content .h2 {
    font-size: 2.5em;
  }
  .content h3, .content .h3 {
    font-size: 2em;
  }
  .content h4, .content .h4 {
    font-size: 1.25em;
  }
  .content h5, .content .h5,
  .content h6, .content .h6 {
    font-size: .813em;
  }
  .content p {
    font-size: 1.1875em;
  }
  .content li {
    font-size: 1.1875rem;
  }
}
@media (min-width: 80em) {
  .content blockquote p {
    font-size: 1.75em;
  }
  .content blockquote cite p {
    font-size: 1.125rem;
  }
}

.image-content img {
  width: 100%;
}

.sidebar-content .sidebar-section {
  margin-bottom: 1.5em;
}
.sidebar-content .sidebar-section:last-of-type {
  margin-bottom: 0;
}
.sidebar-content h3, .sidebar-content .h3 {
  margin-bottom: 1em;
  font-size: 1.25em;
}
.sidebar-content p, .sidebar-content li {
  font-size: .75em !important;
  line-height: 1.4;
}
.sidebar-content .author-name {
  text-transform: uppercase;
  letter-spacing: .2em;
}
.sidebar-content ul {
  margin: 1em 0 1em 1em;
}
@media (min-width: 80em) {
  .sidebar-content .sidebar-section {
    margin-bottom: 3em;
  }
}
@media (min-width: 105em) {
  .sidebar-content h3, .sidebar-content .h3 {
    font-size: 2em;
  }
  .sidebar-content p, .sidebar-content li {
    font-size: 1em !important;
  }
}

.connected-line-detail {
  position: relative;
  margin-top: 3rem;
  padding-top: 3rem;
}
.connected-line-detail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #bcbcbc;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.connected-line-detail:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: block;
  width: 1px;
  height: 100vh;
  background-color: #bcbcbc;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.connecting-line-detail:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  display: block;
  width: 1px;
  height: 100vh;
  background-color: #bcbcbc;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.drawer {
  position: fixed;
  z-index: 220;
  top: 0;
  left: 0;
  width: calc(100vw - 56px);
  max-width: 320px;
  height: 100vh;
  background-color: #15273b;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .15s linear;
  transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  transition: transform .15s linear, -webkit-transform .15s linear;
}
.drawer.is-open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .25s ease-out !important;
  transition: -webkit-transform .25s ease-out !important;
  transition: transform .25s ease-out !important;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out !important;
}

.map-embed #map {
  width: 100%;
  height: 400px;
}

.gform_wrapper {
  position: relative;
}
.gform_wrapper .gform_fields {
  margin-left: 0;
}
.gform_wrapper .gform_validation_container {
  display: none !important;
}
.gform_wrapper .gfield_label {
  font-weight: bold;
  font-size: .875em;
}
.gform_wrapper .gfield_label .gfield_required {
  display: inline-block;
  vertical-align: center;
  padding-left: .25em;
  color: red;
}
.gform_wrapper .gfield {
  margin-bottom: 1em;
}
.gform_wrapper .gfield ::-webkit-input-placeholder {
  color: #bcbcbc;
}
.gform_wrapper .gfield ::-moz-placeholder {
  color: #bcbcbc;
}
.gform_wrapper .gfield :-ms-input-placeholder {
  color: #bcbcbc;
}
.gform_wrapper .gfield :-moz-placeholder {
  color: #bcbcbc;
}
.gform_wrapper input[type="text"],
.gform_wrapper input[type="email"],
.gform_wrapper input[type="tel"],
.gform_wrapper textarea {
  border-bottom: 1px solid #bcbcbc;
  color: #222;
}
.gform_wrapper textarea {
  margin-bottom: 0;
  height: 58px;
}
.gform_wrapper .gfield {
  display: block;
  position: relative;
}
.gform_wrapper .gfield .ginput_container:after {
  content: "";
  display: table;
  clear: both;
}
.gform_wrapper .gfield .validation_message {
  position: absolute;
  bottom: -2em;
  right: 0;
  font-size: .75em;
  color: red;
}
.gform_wrapper input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625rem;
  line-height: 1.25;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;
  background-color: transparent;
  border: 1px solid;
  border-radius: 999em;
  box-shadow: none;
  color: #646464;
}
.gform_wrapper input[type="submit"]:hover, .gform_wrapper input[type="submit"]:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.gform_wrapper input[type="submit"]:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.gform_wrapper input[type="submit"]:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26) !important;
  cursor: not-allowed;
}
.gform_wrapper input[type="submit"]:disabled * {
  pointer-events: none;
}
.gform_wrapper input[type="submit"] .button-label {
  display: inline-block;
  vertical-align: middle;
}
.gform_wrapper input[type="submit"] .button-label + .icon {
  margin-left: 1em;
  margin-right: -.5em;
}
.gform_wrapper input[type="submit"] .icon + .button-label {
  margin-left: 1em;
}
.gform_wrapper input[type="submit"]:hover {
  background-color: rgba(100, 100, 100, 0.25);
}
.gform_wrapper input[type="submit"]:active {
  background-color: rgba(100, 100, 100, 0.5);
}
.gform_wrapper .gform_confirmation_message {
  padding: .75em 1em;
  border: 1px solid #d0d0d0;
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  color: #909090;
}
.gform_wrapper .gform_footer {
  margin-top: 2em;
  text-align: right;
}

.grid-layout {
  position: relative;
}
.grid-layout:after {
  content: "";
  display: table;
  clear: both;
}
.grid-layout .grid-item,
.grid-layout .grid-sizer {
  position: relative;
  float: left;
  width: 100%;
}
.grid-layout .grid-sizer {
  display: block;
}
@media (min-width: 45em) {
  .grid-layout.js-grid-match-height .grid-item .vertical-align-middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .grid-layout.js-grid-match-height .grid-item .content {
    height: 100%;
  }
  .grid-layout.js-grid-match-height .grid-item .content.tile-content {
    height: auto;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-fifth, .grid-layout:not(.above-tablet) .grid-item.size-one-fifth,
  .grid-layout:not(.above-tablet) .grid-sizer.size-fifth,
  .grid-layout:not(.above-tablet) .grid-sizer.size-one-fifth {
    width: 20%;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-two-fifths,
  .grid-layout:not(.above-tablet) .grid-sizer.size-two-fifths {
    width: 40%;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-three-fifths,
  .grid-layout:not(.above-tablet) .grid-sizer.size-three-fifths {
    width: 60%;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-four-fifths,
  .grid-layout:not(.above-tablet) .grid-sizer.size-four-fifths {
    width: 80%;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-quarter, .grid-layout:not(.above-tablet) .grid-item.size-one-quarter,
  .grid-layout:not(.above-tablet) .grid-sizer.size-quarter,
  .grid-layout:not(.above-tablet) .grid-sizer.size-one-quarter {
    width: 25%;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-three-quarters,
  .grid-layout:not(.above-tablet) .grid-sizer.size-three-quarters {
    width: 75%;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-third, .grid-layout:not(.above-tablet) .grid-item.size-one-third,
  .grid-layout:not(.above-tablet) .grid-sizer.size-third,
  .grid-layout:not(.above-tablet) .grid-sizer.size-one-third {
    width: 33.333%;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-half, .grid-layout:not(.above-tablet) .grid-item.size-one-half,
  .grid-layout:not(.above-tablet) .grid-sizer.size-half,
  .grid-layout:not(.above-tablet) .grid-sizer.size-one-half {
    width: 50%;
  }
  .grid-layout:not(.above-tablet) .grid-item.size-two-thirds,
  .grid-layout:not(.above-tablet) .grid-sizer.size-two-thirds {
    width: 66.666%;
  }
}
@media (min-width: 80em) {
  .grid-layout .grid-item.size-fifth, .grid-layout .grid-item.size-one-fifth,
  .grid-layout .grid-sizer.size-fifth,
  .grid-layout .grid-sizer.size-one-fifth {
    width: 20%;
  }
  .grid-layout .grid-item.size-two-fifths,
  .grid-layout .grid-sizer.size-two-fifths {
    width: 40%;
  }
  .grid-layout .grid-item.size-three-fifths,
  .grid-layout .grid-sizer.size-three-fifths {
    width: 60%;
  }
  .grid-layout .grid-item.size-four-fifths,
  .grid-layout .grid-sizer.size-four-fifths {
    width: 80%;
  }
  .grid-layout .grid-item.size-quarter, .grid-layout .grid-item.size-one-quarter,
  .grid-layout .grid-sizer.size-quarter,
  .grid-layout .grid-sizer.size-one-quarter {
    width: 25%;
  }
  .grid-layout .grid-item.size-three-quarters,
  .grid-layout .grid-sizer.size-three-quarters {
    width: 75%;
  }
  .grid-layout .grid-item.size-third, .grid-layout .grid-item.size-one-third,
  .grid-layout .grid-sizer.size-third,
  .grid-layout .grid-sizer.size-one-third {
    width: 33.333%;
  }
  .grid-layout .grid-item.size-half, .grid-layout .grid-item.size-one-half,
  .grid-layout .grid-sizer.size-half,
  .grid-layout .grid-sizer.size-one-half {
    width: 50%;
  }
  .grid-layout .grid-item.size-two-thirds,
  .grid-layout .grid-sizer.size-two-thirds {
    width: 66.666%;
  }
}

.site-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  height: 56px;
  background-color: #15273b;
  -webkit-transition: height .15s linear, background-color .15s linear;
  transition: height .15s linear, background-color .15s linear;
}
.site-header.theme-transparent {
  height: 100px;
  background-color: transparent;
}
.site-header.theme-transparent.theme-color {
  height: 56px;
  background-color: #15273b;
}
@media (min-width: 45em) {
  .site-header {
    padding: 0 1.5em;
  }
}
@media (min-width: 80em) {
  .site-header {
    padding: 0 3.125em;
  }
  .site-header .main-nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
  }
}
@media (min-width: 105em) {
  .site-header {
    padding: 0 6.25em;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  text-indent: -999em;
}

.arrow-up-white-icon {
  background-image: url("assets/images/icons/icon_arrow-up-white.svg");
}

.small-arrow-up-white-icon {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url("assets/images/icons/icon_arrow-up-white.svg");
}

.menu-icon {
  background-image: url("assets/images/icons/icon_menu.svg");
}

.small-menu-icon {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url("assets/images/icons/icon_menu.svg");
}

.menu-white-icon {
  background-image: url("assets/images/icons/icon_menu-white.svg");
}

.small-menu-white-icon {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url("assets/images/icons/icon_menu-white.svg");
}

.infinite-loading-icon {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-image: url("assets/images/icons/icon_loading_S.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .35;
}
.infinite-loading-icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("assets/images/icons/icon_loading_shape.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
}

.infinite-loading-link {
  display: block;
  margin: 25px 0;
  width: 100%;
  height: 100px;
  text-align: center;
  text-indent: -999em;
}
.infinite-loading-link .link-label {
  display: inline-block;
  text-indent: -999em;
}

.previous-post-link .button {
  margin-top: 2em;
}

.related-posts-links a {
  color: #909090;
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
}
.related-posts-links a:hover {
  color: #14131d;
}

.social-media-links a {
  margin-right: 1em;
  opacity: .5;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.social-media-links a:hover {
  opacity: .75;
}
.social-media-links a:active {
  opacity: 1;
}

.horizontal-list {
  margin: -.5rem;
}
.horizontal-list .list-item {
  display: inline-block;
  vertical-align: text-top;
  margin: .5rem;
}
.horizontal-list .list-item img {
  margin-left: 2em;
  margin-right: 2em;
}

.list {
  margin: 3em 0;
}
.list .list-item {
  display: block;
  margin-bottom: 1em;
}

.numbered-list, .page-sidebar .categories-nav ol {
  margin: 3em 0 3em 1.75em;
  list-style: decimal-leading-zero outside;
}
.numbered-list li, .page-sidebar .categories-nav ol li {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: .75em;
  color: #d0d0d0;
}
.numbered-list li a, .page-sidebar .categories-nav ol li a {
  display: inline-block;
  padding-left: 1em;
  font-size: .875rem;
  line-height: 1.1;
  letter-spacing: .1em;
  color: #bcbcbc;
  text-transform: uppercase;
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
}
.numbered-list li a:hover, .page-sidebar .categories-nav ol li a:hover {
  color: #14131d;
}

.stratus-logo {
  position: relative;
  top: -4px;
  display: block;
  margin: 0;
  width: 190px;
  height: 32px;
  background-image: url("assets/images/logos/logo_stratus_white.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -999em;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.stratus-logo:hover {
  opacity: .75;
}
.stratus-logo:active {
  opacity: .5;
}



.dropdown-menu a {
  font-weight: bold;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.dropdown-menu > .menu-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em;
}
.dropdown-menu > .menu-item:first-child {
  margin-left: 0;
}
.dropdown-menu > .menu-item:last-child {
  margin-right: 0;
}
.dropdown-menu > .menu-item.rounded-button-style a {
  padding: .55em 1.25em .5em;
  border: 1px solid;
  border-radius: 999em;
}
.dropdown-menu .sub-menu {
  display: none;
}
.dropdown-menu.theme-white {
  color: white;
}

.elastic-menu {
  width: 100%;
}
.elastic-menu .menu-item {
  display: block;
}
.elastic-menu .menu-item.menu-item-has-children > a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  width: 24px;
  height: 24px;
  background-image: url("assets/images/icons/icon_chevron-down-white.svg");
  border-radius: 0;
  opacity: .5;
}
.elastic-menu .menu-item.menu-item-has-children.is-open > a:after {
  background-image: url("assets/images/icons/icon_chevron-up-white.svg");
}
.elastic-menu .menu-item.menu-item-has-children .sub-menu {
  display: none;
  background-color: #101e2e;
}
.elastic-menu .menu-item a {
  position: relative;
  display: block;
  padding: 0 2em;
  border-bottom: 1px solid #1d3046;
  font-weight: bold;
  font-size: .75em;
  line-height: 56px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: background-color .15s linear, color .15s linear;
  transition: background-color .15s linear, color .15s linear;
}
.elastic-menu .menu-item a:hover {
  background-color: #101e2e;
}
.elastic-menu .menu-item a:active {
  background-color: #0e1b28;
}

.list-menu,
.list-menu .menu-item,
.list-menu .sub-menu {
  display: block;
}
.list-menu.inline-list-menu,
.list-menu.inline-list-menu .menu-item {
  display: inline-block;
  vertical-align: middle;
}

.sitemap-menu {
  margin: 0 !important;
  text-align: center;
}
.sitemap-menu > .menu-item {
  display: block;
  margin-bottom: 2em;
}
.sitemap-menu > .menu-item > a {
  border: 0;
  font-weight: bold;
  font-size: .875rem;
  text-transform: uppercase;
}
.sitemap-menu .sub-menu {
  margin: 1em 0 0;
}
.sitemap-menu .sub-menu li {
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: 0;
  list-style: none;
}
.sitemap-menu .sub-menu a {
  opacity: .5;
  border: 0;
  font-size: .6875rem;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.sitemap-menu .sub-menu a:hover {
  opacity: .75;
}
.sitemap-menu .sub-menu a:active {
  opacity: 1;
}
@media (min-width: 45em) {
  .sitemap-menu {
    text-align: left;
  }
  .sitemap-menu > .menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 3em;
  }
}

.has-sidebar-border {
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 45em) {
  .has-sidebar-border {
    border-bottom: 0;
    border-right: 1px solid #ebebeb;
  }
}

.page-section {
  position: relative;
  overflow: hidden;
}

.pseudo-ellipsis {
  white-space: nowrap;
}

.section-separator {
  margin: 0;
  border-bottom: 1px solid #ebebeb;
}

.categories-nav .list li {
  margin-bottom: .5em;
}
.categories-nav .list a {
  font-size: .75em;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.categories-nav .list a.is-current {
  color: #14131d;
}

@media (min-width: 20em) and (max-width: 1279px) {
  .main-nav {
    position: fixed;
    z-index: 220;
    top: 0;
    left: 0;
    width: calc(100vw - 56px);
    max-width: 320px;
    height: 100vh;
    background-color: #15273b;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .15s linear;
    transition: -webkit-transform .15s linear;
    transition: transform .15s linear;
    transition: transform .15s linear, -webkit-transform .15s linear;
  }
  .main-nav.is-open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .25s ease-out !important;
    transition: -webkit-transform .25s ease-out !important;
    transition: transform .25s ease-out !important;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out !important;
  }
  .main-nav .menu {
    width: 100%;
  }
  .main-nav .menu .menu-item {
    display: block;
  }

  .menu-item-has-children{
    position:relative;
  }
  .main-nav .menu .menu-item.menu-item-has-children > a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    width: 24px;
    height: 24px;
    background-image: url("assets/images/icons/icon_chevron-down-white.svg");
    border-radius: 0;
    opacity: .5;
  }
  .main-nav .menu .menu-item.menu-item-has-children.is-open > a:after {
    background-image: url("assets/images/icons/icon_chevron-up-white.svg");
  }
  .main-nav .menu .menu-item.menu-item-has-children .sub-menu {

    background-color: #15273b;
    height:0px;
    overflow:hidden;
    transition:height 0.25s;
  }

  .main-nav .menu .menu-item.menu-item-has-children:hover .sub-menu, .main-nav .menu .menu-item.menu-item-has-children:focus .sub-menu {
    background-color: #15273b;
    height:57px;
    overflow:hidden;
  }
  .main-nav .menu .menu-item a {
    position: relative;
    display: block;
    padding: 0 2em;
    border-bottom: 1px solid #1d3046;
    font-weight: bold;
    font-size: .75em;
    line-height: 56px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    -webkit-transition: background-color .15s linear, color .15s linear;
    transition: background-color .15s linear, color .15s linear, text-shadow 0.25s;
  }
  .main-nav .menu .menu-item a:hover {
    background-color: #101e2e;
    text-shadow:0px 0px 4px rgba(255, 255, 255, 0.8);
  }
  .main-nav .menu .menu-item a:active {
    background-color: #0e1b28;
  }
}
@media (min-width: 80em) {
  .main-nav .menu a {
    font-weight: bold;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: 1px;
        transition: background-color .15s linear, color .15s linear, text-shadow 0.25s;
  }

  .main-nav .menu .menu-item a:hover {

    text-shadow:0px 0px 4px rgba(255, 255, 255, 0.8);
  }

  .main-nav .menu > .menu-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
  }
  .main-nav .menu > .menu-item:first-child {
    margin-left: 0;
  }
  .main-nav .menu > .menu-item:last-child {
    margin-right: 0;
  }
  .main-nav .menu > .menu-item.rounded-button-style a {
    padding: .55em 1.25em .5em;
    border: 1px solid;
    border-radius: 999em;
  }
  .main-nav .menu .sub-menu {
    display:block;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.25s;
    position:absolute;
    top:30px;
    right:0px;
    white-space: nowrap;
    padding:5px;
  }
  .main-nav .menu.theme-white {
    color: white;
  }

  .menu-item-has-children{
    position:relative;
  }

  .main-nav .menu-item-has-children:hover .sub-menu{
    background-color: #15273b;
    visibility:visible;
    opacity:1;

  }

  .menu-item-has-children:hover .sub-menu{

    visibility:visible;
    opacity:1;

  }
}

.pagination,
.pagination-nav {
  margin: 2em 0;
}
.pagination .screen-reader-text,
.pagination-nav .screen-reader-text {
  display: none;
}
.pagination .nav-links,
.pagination-nav .nav-links {
  text-align: center;
}
.pagination .nav-links .page-numbers,
.pagination-nav .nav-links .page-numbers {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .5em;
  padding: .5em;
  min-width: 26px;
  font-weight: bold;
  font-size: .75em;
  color: #646464;
  text-transform: uppercase;
  -webkit-transition: background-color .15s linear, color .15s linear;
  transition: background-color .15s linear, color .15s linear;
}
.pagination .nav-links .page-numbers.current,
.pagination-nav .nav-links .page-numbers.current {
  background-color: #ebebeb;
}
.pagination .nav-links a:hover,
.pagination-nav .nav-links a:hover {
  background-color: #83b2e8;
  color: white;
}

.content-overlay {
  position: fixed;
  z-index: 90;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.tile .tile-background:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tile .tile-link {
  z-index: 5;
}
.tile .tile-link .tile-background img {
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
  opacity: .8;
}
.tile .tile-link:hover .tile-background img {
  opacity: 1;
}
.tile .tile-background {
  z-index: 1;
}
.tile .tile-background:after {
  content: '';
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.6);
}
@media (min-width: 45em) {
  .tile .tile-background:after {
    box-shadow: inset 0 0 45px 0 rgba(0, 0, 0, 0.6);
  }
}
@media (min-width: 80em) {
  .tile .tile-background:after {
    box-shadow: inset 0 0 90px 0 rgba(0, 0, 0, 0.6);
  }
}
.tile .tile-background.video-background.size-contain {
  max-width: 100%;
}
.tile .tile-background img {
  max-width: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.tile .tile-content {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
.tile .tile-content.clamp-width {
  max-width: none;
}
.tile .tile-content.align-bottom-left {
  bottom: 0;
  left: 0;
}
.tile .tile-content.align-center {
  bottom: auto;
  top: 50%;
  left: 50%;
  max-width: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tile .tile-content .h2 {
  font-size: 1.5em;
}
.tile .tile-content blockquote {
  margin: 0 0 1em;
}
@media (min-width: 45em) {
  .js-grid-match-height .tile,
  .js-grid-match-height .tile .tile-link,
  .js-grid-match-height .tile .tile-background, .tile.size-fill,
  .tile.size-fill .tile-link,
  .tile.size-fill .tile-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .tile .tile-content .h2 {
    font-size: 2.5em;
  }
}

.wp_rp_footer {
  display: none;
}

html,
body {
  min-height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
}
body.is-scroll-locked {
  position: fixed;
  overflow: hidden;
}
@media (min-width: 80em) {
  body.is-scroll-locked {
    position: relative;
  }
}

main {
  margin-top: 56px;
}
