* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin-bottom: 1em; }

mark {
  background: red;
  color: black; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  height: 0;
  box-sizing: content-box; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: "Courier New", "Courier", serif; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table td,
  table th {
    padding: 0; }

/* No files to import found in base/helpers/utilities/* */
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 1em;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none; }
  button:focus,
  input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus {
    outline: 0; }

input[type="submit"] {
  padding-top: 0;
  padding-bottom: 0; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-tap-highlight-color: transparent; }
  input:active, input:focus,
  select:active,
  select:focus,
  textarea:active,
  textarea:focus {
    outline: 0; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea,
select {
  padding: 0 2em;
  min-width: 88px;
  border: none;
  height: 36px;
  border: 0;
  font-size: .875em;
  font-family: "Open Sans", sans-serif;
  line-height: 36px;
  color: #646464;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color .15s linear, box-shadow .15s linear, color .15s linear;
  transition: background-color .15s linear, box-shadow .15s linear, color .15s linear; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea,
select {
  padding: 1em;
  width: 100%;
  border-radius: 0; }

input[type="image"] {
  outline: none; }

textarea {
  vertical-align: top;
  overflow: auto;
  resize: vertical; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: 0; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

dt {
  margin-bottom: .5em;
  font-weight: bold; }

dd {
  margin: 0 0 1em 0; }

img {
  max-width: 100%;
  height: auto; }

picture {
  display: block; }
  picture img {
    display: block; }

embed,
iframe,
object {
  max-width: 100%; }

table {
  margin: 2em 0;
  width: 100%; }
  table th {
    font-weight: bold; }
  table td {
    padding: .25em;
    border: 1px solid; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 .5em;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  line-height: 1.1; }
  .h1:last-child, .h2:last-child, .h3:last-child, .h4:last-child, .h5:last-child, .h6:last-child {
    margin-bottom: 0; }

.h1 {
  margin-bottom: .25em;
  font-weight: 900;
  font-size: 2em;
  line-height: .9;
  font-family: "Alegreya", serif; }
  @media (min-width: 45em) {
    .h1 {
      font-size: 2.5em; } }
  @media (min-width: 80em) {
    .h1 {
      font-size: 3em; } }
  @media (min-width: 105em) {
    .h1 {
      font-size: 4.8125em; } }

.h4 {
  font-family: "Alegreya", serif;
  font-size: 1.5em; }
  @media (min-width: 80em) {
    .h4 {
      font-size: 1.75em; } }

.h5 {
  font-family: "Alegreya", serif;
  font-size: 1.125em; }

.h6 {
  font-size: 1em; }

p {
  margin: 0 0 1.5em; }
  p:last-child {
    margin-bottom: 0; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

mark, ins {
  padding: .2em;
  text-decoration: none; }

abbr[title],
acronym {
  cursor: help;
  border-bottom: 1px dotted; }

address {
  margin-bottom: 1.5em;
  font-style: normal; }

blockquote {
  margin: 0 0 1.5em 2.5em; }
  blockquote p {
    font-size: 1em;
    line-height: 1.6; }
  blockquote footer {
    display: block;
    margin-top: 1em; }

pre {
  margin-bottom: 1.5em;
  padding: 1.5em;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  font-family: "Courier New", "Courier", serif;
  overflow: auto; }

code, kbd, tt, var {
  font-family: "Courier New", "Courier", serif; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

sup,
sub {
  position: relative;
  height: 0;
  line-height: 0;
  font-size: 60%;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

hr {
  margin: 1.5em 0;
  border: 0;
  height: 1px; }

/* No files to import found in modules/badges/* */
/* No files to import found in modules/banners/* */
/* No files to import found in modules/bars/* */
/* No files to import found in modules/buttons/* */
/* No files to import found in modules/cards/* */
/* No files to import found in modules/carousels/* */
/* No files to import found in modules/content/* */
/* No files to import found in modules/controls/* */
/* No files to import found in modules/drawers/* */
/* No files to import found in modules/footers/* */
/* No files to import found in modules/forms/* */
/* No files to import found in modules/grids/* */
/* No files to import found in modules/headers/* */
/* No files to import found in modules/icons/* */
/* No files to import found in modules/links/* */
/* No files to import found in modules/logos/* */
/* No files to import found in modules/menus/* */
/* No files to import found in modules/misc/* */
/* No files to import found in modules/nav/carousel/* */
/* No files to import found in modules/nav/* */
/* No files to import found in modules/overlays/* */
/* No files to import found in modules/panels/* */
/* No files to import found in modules/text/* */
/* No files to import found in modules/tiles/* */
html,
body {
  min-height: 100%; }

body {
  width: 100%;
  overflow-x: hidden; }
  body.is-scroll-locked {
    position: fixed;
    overflow: hidden; }
    @media (min-width: 80em) {
      body.is-scroll-locked {
        position: relative; } }
