//
// Has sidebar border
//

.has-sidebar-border {
  border-bottom: 1px solid $very-light-grey-color;
  
  @include breakpoint('medium-tablet') {
    border-bottom: 0;
    border-right: 1px solid $very-light-grey-color;
  }
}