//
// Post Sidebar
//

.post-sidebar {
  .content {

    // ~
    h3, .h3 {
      margin-bottom: 1em;
      font-size: 1.25em;
    }

    p {
      font-size: .75em;
      line-height: 1.4;
    }

    .author-name {
      text-transform: uppercase;
      letter-spacing: .2em;
    }
  }
}