//
// Drawer menu
//

@mixin drawer-menu {
  padding: 1.5em;
  background-color: $dark-blue-color;
  text-align: center;
  color: white;

  //
  a {
    display: block;
    margin-bottom: 1em;
    color: white;
  }

  .sub-menu { display: none; }
}

// util.
.drawer-menu { @include drawer-menu; }