//
// Dropdown menu
//

@mixin dropdown-menu {

  // links
  a {
    font-weight: bold;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  // top-level
  > .menu-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }

    &.rounded-button-style {

      a {
        padding: .55em 1.25em .5em;
        border: 1px solid;
        border-radius: 999em; // ~
      }
    }
  }

  // extendable to enable dropdown menus
  .sub-menu { display: none; }

  //
  &.theme-white { color: white; }
}

// util.
.dropdown-menu { @include dropdown-menu; }