//
// Elastic menu
//

@mixin elastic-menu {
  width: 100%;

  .menu-item {
    display: block;

    //
    &.menu-item-has-children {

      > a {

        // ~ icon
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          margin: 16px;
          width: 24px;
          height: 24px;
          background-image: url('assets/images/icons/icon_chevron-down-white.svg');
          border-radius: 0;
          opacity: .5;
        }
      }

      // ~ open
      &.is-open {
        > a {
          &:after { background-image: url('assets/images/icons/icon_chevron-up-white.svg'); }
        }
      }

      //
      .sub-menu {
        display: none; // ~ see scripts/components/elastic-menu
        background-color: darken($dark-blue-color, 3.5%);
      }
    }

    // Link
    a {
      position: relative;
      display: block;
      padding: 0 2em;
      border-bottom: 1px solid #1d3046; // $
      font-weight: bold;
      font-size: .75em;
      line-height: 56px;
      letter-spacing: 1px;
      color: white;
      text-transform: uppercase;
      transition: background-color .15s linear, color .15s linear;

      &:hover { background-color: darken($dark-blue-color, 3.5%); }
      &:active { background-color: darken($dark-blue-color, 5%); }

      
    }
  }
}

// util.
.elastic-menu { @include elastic-menu; }