//
// List menu
//

.list-menu {

  // ~ vertical
  &,
  .menu-item,
  .sub-menu { display: block; }

  // ~ horizontal
  &.inline-list-menu {

    &,
    .menu-item {
      display: inline-block;
      vertical-align: middle;
    }
  }
}