//
// Sitemap menu
//

.sitemap-menu {
  margin: 0 !important;
  text-align: center;

  // 1st-level
  > .menu-item {
    display: block;
    margin-bottom: 2em;

    > a {
      border: 0;
      font-weight: bold;
      font-size: .875rem;
      text-transform: uppercase;

      &:hover {}
      &:active {}
    }
  }

  // Sub-menu
  .sub-menu {
    margin: 1em 0 0;

    li {
      margin-bottom: 0;
      text-transform: none;
      letter-spacing: 0;
      list-style: none;
    }
    
    a {
      opacity: .5;
      border: 0;
      font-size: .6875rem;
      transition: opacity .15s linear;

      &:hover { opacity: .75; }
      &:active { opacity: 1; }
    }
  }

  @include breakpoint('medium-tablet') {
    text-align: left;

    // ~ columns
    > .menu-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 3em;
    }
  }
}