//
// Categories nav
//

.categories-nav {

  // see also page-sidebar

  .list {

    li { margin-bottom: .5em; }

    a {
      font-size: .75em;
      letter-spacing: .1em;
      text-transform: uppercase;
      transition: opacity .15s linear;

      &.is-current { color: $dark-navy-color; }
    }
  }
}