//
// Main navigation
//

.main-nav {
  
  @include breakpoint('below-display') {

    @include drawer;
    
    .menu { @include elastic-menu; }
  }

  @include breakpoint('small-display') {
    .menu { @include dropdown-menu; }
  }
}