//
// Pagination nav
//

.pagination,
.pagination-nav {
  margin: 2em 0;

  .screen-reader-text { display: none; }

  .nav-links {
    text-align: center;

    .page-numbers {
      display: inline-block;
      vertical-align: middle;
      margin: 0 .5em;
      padding: .5em;
      min-width: 26px; // #
      font-weight: bold;
      font-size: .75em;
      color: $grey-color;
      text-transform: uppercase;
      transition: background-color .15s linear, color .15s linear;

      &.current { background-color: $very-light-grey-color; }
    }

    // link
    a {
      &:hover {
        background-color: $light-blue-color;
        color: white;
      }
    }
  }
}