//
// Horizontal list
//

.horizontal-list {
  margin: -.5rem;

  .list-item {
    display: inline-block;
    vertical-align: text-top;
    margin: .5rem;

    // :P
    img {
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}