//
// Numbered list
//

.numbered-list {
  margin: 3em 0 3em 1.75em;
  list-style: decimal-leading-zero outside;

  li {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: .75em;
    color: $lighter-grey-color;

    // ~
    a {
      display: inline-block;
      padding-left: 1em;
      font-size: .875rem;
      line-height: $heading-line-height;
      letter-spacing: .1em;
      color: $light-grey-color;
      text-transform: uppercase;
      transition: color .15s linear;

      &:hover { color: $dark-navy-color; }
    }
  }
}