//
// Stratus logo
//

.stratus-logo {
  position: relative;
  top: -4px; // nudge
  display: block;
  margin: 0;
  width: 190px;
  height: 32px;
  background-image: url('assets/images/logos/logo_stratus_white.png'); // ~ @2x, see background-size
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: $offscreen;
  transition: opacity .15s linear;

  &:hover { opacity: .75; }
  &:active { opacity: .5; }
}