//
// Content overlay
//

.content-overlay {
  position: fixed;
  z-index: $content-overlay-layer;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(black,.5);
  cursor: pointer;
}