//
// Tiles
//

.tile {

  // ~ overlays
  .tile-background:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  // link
  .tile-link {
    z-index: $content-layer;
    
    .tile-background {
      img {
        transition: opacity .15s linear;
        opacity: .8;
      }
    }

    &:hover {
      .tile-background {
        img { opacity: 1; }
      }
    }
  }

  // background
  .tile-background {
    z-index: $background-layer;
    
    // ~ shadow
    &:after {
      content: '';
      z-index: $background-overlay-layer;
      overflow: hidden;
      box-shadow: inset 0 0 25px 0 rgba(black, .6);

      @include breakpoint('medium-tablet') { box-shadow: inset 0 0 45px 0 rgba(black, .6); }
      @include breakpoint('small-display') { box-shadow: inset 0 0 90px 0 rgba(black, .6); }
    }

    &.video-background {
      &.size-contain { max-width: 100%; }
    }

    //
    img {
      max-width: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // content overlay
  .tile-content {
    position: absolute;
    z-index: $content-layer;
    left: 0;
    bottom: 0; // ~ bottom-aligned by default
    width: 100%;
    height: auto;

    &.clamp-width { max-width: none; }

    // ~ also default alignment, see above
    &.align-bottom-left {
      bottom: 0;
      left: 0;
    }

    &.align-center {
      bottom: auto;
      top: 50%;
      left: 50%;
      max-width: 90%;
      transform: translate(-50%, -50%);
    }

    .h2 { font-size: 1.5em; }

    blockquote { margin: 0 0 1em; }
  }

  @include breakpoint('medium-tablet') {
    
    // ~ all overlays
    .js-grid-match-height &,
    &.size-fill {

      &,
      .tile-link,
      .tile-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }

    .tile-content {
      .h2 { font-size: 2.5em; }
    }
  }
}