//
// "Back to top" button
//

.back-to-top-button {

  position: fixed !important;
  z-index: 200; // $
  bottom: 1em;
  right: 1em;
  opacity: 0;
  pointer-events: none;
  transition: opacity .15s linear, transform .15s linear !important; // speedy-out
  transform: translateY(-1em);

  &.is-visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: opacity .35s linear, transform .35s ease-in-out !important; // ease-in
  }

  @include breakpoint('medium-tablet') {
    // ~ 24px
    bottom: 1.5em;
    right: 1.5em;
  }

  @include breakpoint('small-display') {
    // ~ 50px
    bottom: 3.125em;
    right: 3.125em;
  }
}