//
// Button
//

@mixin button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  margin: .5em;
  padding: 1em 2em .9em;
  border-radius: 2px;
  text-align: center;
  font-size: .625em; // 10px
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none !important; // ~ remove underline on button-links
  -webkit-tap-highlight-color: transparent;
  transition: background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;

  // ~
  &:hover,
  &:focus { box-shadow: 0 4px 10px 0 rgba(black, .12), 0 4px 15px 0 rgba(black, .06); }
  &:active { box-shadow: 0 2px 4px 0 rgba(black, .1), 0 2px 10px 0 rgba(black, .04); }

  // ~ disabled
  &:disabled {
    background-color: rgba(black, .12) !important;
    box-shadow: none;
    color: rgba(black, .26) !important;
    cursor: not-allowed;

    * { pointer-events: none; }
  }

  // ~ with icon
  .button-label {
    display: inline-block;
    vertical-align: middle;

    + .icon { margin-left: 1em; }
  }

  .icon + .button-label { margin-left: 1em; }
}

//
.button { @include button; }

// Colour & style utilities
@each $color-name, $colors in $button-colors {
  
  //
  .#{nth($color-name, 1)}-button {

    background-color: nth($colors, 1);
    color: nth($colors, 2);

    &:active { background-color: darken(nth($colors, 1), 5%); }
  }

  //
  .#{nth($color-name, 1)}-rounded-outline-button {

    background-color: transparent;
    border: 1px solid;
    border-radius: 999em; // ~
    box-shadow: none;
    color: nth($colors, 1);
    
    &:hover { background-color: rgba(nth($colors, 1), .25); }
    &:active { background-color: rgba(nth($colors, 1), .5); }
  }
}