//
// Icon button
//

@mixin icon-button {
  @include button;

  position: relative;
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;

  &:hover,
  &:focus { background-color: rgba(black, .08); }
  &:active { background-color: rgba(black, .16); }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent !important;
    transform: translate(-50%, -50%);
  }
}

// Icon-button utility
.icon-button { @include icon-button; }

// Icon-button colours & styles
@each $color-name, $colors in $button-colors {
  
  .#{nth($color-name, 1)}-icon-button {
    @include icon-button;

    background-color: nth($colors, 1);
    color: nth($colors, 2);

    &:hover,
    &:focus { background-color: lighten(nth($colors, 1), 5%); }
    &:active { background-color: lighten(nth($colors, 1), 7.5%); }
  }
}