//
// Photo overlay button
//

.photo-overlay-button {
  background-color: rgba($dark-navy-color, .5);
  border: 1px solid white;
  border-radius: 999em; // ~
  box-shadow: none;
  color: white;
  transition: margin-top .15s linear, transform .3s ease-out, background-color .15s linear, border-color .15s linear, box-shadow .15s linear, color .15s linear;

  &:hover {
    background-color: rgba($dark-navy-color, .75);
    animation-play-state: paused;
  }

  &:active { background-color: rgba($dark-navy-color, 1); }
}