//
// Alignment utilities
//

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.align-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}