//
// Content padding
//

.content-padding {
  padding: 1em;

  @include breakpoint('medium-tablet') { padding: 1.5em; } // ~ 24px
  @include breakpoint('small-display') { padding: 3.125em; } // ~ 50px
  @include breakpoint('medium-display') { padding: 6.25em; } // ~ 100px
}