//
// Inner padding
//

/*
.inner-padding {
  //margin: 0 auto;
  //max-width: 1920px;
  padding: 1.5em; // ~ 24px

  @include breakpoint('medium-tablet') { padding: 2em; } // ~ 32px
  @include breakpoint('small-display') { padding: 3.125em; } // ~ 50px
  @include breakpoint('large-display') { padding: 6.25em; } // ~ 100px
}
*/